.page-announce-detail{
    width: 100%;
    padding: 30px 20px;
}
.page-announce-detail .title{
    font-size: 22px;
    color: #484848;
    margin-bottom: 15px;
}
.page-announce-detail  .date{
    font-size: 13px;
    color: #A1A1A1;
}

.page-announce-detail .page-center-style{
    width: 100%;
    padding: 40px 0 0;
    flex: 1;
    /* overflow-y: scroll; */
    overflow: hidden;
    word-wrap: break-word;
  }
  .page-announce-detail .page-center-style *{
    max-width: 100%!important;
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    word-wrap: break-word!important;
  }
  .page-announce-detail  img{
    width: 100%;
    display: block;
    margin: auto;
  }
