.page-announce{
  width: 100%;
  /* height: 100%; */
  /* overflow-y:scroll; */
}
.page-announceitem{
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
}
.page-announceitem .main{
  height: 93px;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.page-announceitem-img{
  width: 109px;
  height: 73px;
}

.page-announceitem-title{
  width: 210px;
  height: 48px;
  margin-bottom: 10px;
  color: #565656;
  font-size: 19px;
  line-height:24px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  }

.page-announceitem-date{
  font-size: 13px;
  color: #A1A1A1;
  }









.page-announceitem-header-title-container{
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: space-between;
  margin-left:10px;
}
.page-announceitem-header-title-container-bussiness{
  font-size: 15px;
  color: #333333;
  letter-spacing: 0;
  line-height: 15px;
  height: 15px;
  margin-bottom: 4px;
}
.page-announceitem-header-title-container-date{
  font-size: 11px;
  color: #999999;
}
.page-announceitem-messagestitle{
  font-size: 18px;
  color: #333333;
  margin-bottom: 8px;
}
.page-announceitem-content{
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  width:100%;
  overflow:hidden;
  white-space:wrap;
  padding-bottom: 20px;
}
.page-announce-no-info{
  padding: 20px;
  text-align: center;
  color: #999;
  font-size: 14px;
  background: #fff;
  font-weight: 200;
}
.page-announceitem-header-img{
  margin-right: 10px;
}
.page-announceitem-empty-tip{
  padding: 20px;
  text-align: center;
  color: #999;
  font-size: 14px;
  background: #fff;
  font-weight: 200;
  min-height: 300px;
}
