.page-apply {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #f8f8f8;
}
.page-apply-header {
  height: 80px;
  width: 100%;
}
.page-apply-take-up {
  height: 50px;
  width: 100%;
  /* background: #F8F8F8; */
}
.page-apply-bottom-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  left: 0;
}
.page-apply-main {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  background: #a0d9f7;
}
.page-apply-components {
  width: 100%;
  padding: 0 15px;
}

.page-apply-components-content {
  margin-top: 23px;
  background: #ffffff;
  border-radius: 8px;
}
.page-apply-components-content-top {
  padding: 15px 17px 12px 17px;
}
.page-apply-components-content-top div:nth-child(1) {
  margin-bottom: 14px;
  font-size: 18px;
  color: #333333;
}
.page-apply-components-content-top div:nth-child(2) {
  font-size: 16px;
  color: #4a4a4a;
}
.page-apply-components-content-bottom {
  padding: 12px 23px 15px 17px;
  display: flex;
  background: url(/images/my/more.png) no-repeat;
  background-position: 322px center;
  background-size: 20px;
  justify-content: space-between;
}
.page-apply-components-content-bottom  div:nth-child(1){
  font-size: 13px;
color: #666666;

}
.page-apply-components-content-bottom  div:nth-child(1) span{
font-size: 13px;
color: #6AC6F8;
padding-left: 8px;

}

.page-apply-components-content-bottom .ing{
  background: #F0C873;
border-radius: 4px;
font-size: 13px;
color: #FFFFFF;
padding: 2px 4px;

}