 .page-post-bg{
  background: #f8f8f8;
  position:absolute;
  top:0;
  bottom:0;
}
.page-post-container-top{
  padding: 0 15px;
}
.page-post-container{

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.page-post-mask-container{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: none;
}
.page-post-pop-block{
  display: block;

}
.page-post-pop-none{
  display: none;
}
.page-post-take-up{
  width: 100%;
  height: 160px;
  opacity: 0.2;
  background: #333333;
}
.page-post-mask-content{
  flex: 1;
  height: 100%;
  overflow-y: auto;
  background: #f8f8f8;
}
.page-post-container-item{
  width: 345px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 14px;
  padding-left: 12px;
  color: #999;
  display: flex;
  flex-direction: reverse;
  justify-content: space-between;
  align-items: center;
}
.page-post-color{
  color: #333;
}
.page-post-container-item-more{
  width: 20px;
  height: 20px;
  background-image: url(/images/my/more.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}
.page-post-container-text{
  width: 345px;
  height: 50px;
  display: block;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 14px;
  padding-left: 12px;
  color: #333333;
}
.page-post-container-explain{
  margin-top: 15px;
  width: 345px;
  height: 125px;
  display: block;
  background: #FFFFFF;
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  color: #333333;
  padding: 12px;
  line-height: 24px;
}
.page-post-container-explain::-webkit-input-placeholder {
  color: #999;
}
.page-post-container-text::-webkit-input-placeholder {
  color: #999;
}
.page-post-container-photo-text{
  width: 345px;
  margin-top: 15px;
  font-size: 14px;
  padding-left: 12px;
  color: #999;
}
.page-post-btn{
  width: 300px;
  height: 50px;
  background: #C7EAFD;
  border-radius: 100px;
  font-size: 16px;
  color: #666666;
  text-align: center;
  line-height: 50px;
}
.page-post-container-photo-container{
  width: 345px;
  /* height: 130px; */
  margin-top: 15px;
  margin-bottom: 25px;
  padding-left:12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-post-item-upload-container{
  width: 100px;
  height: 100px;
  background-image:url(/images/my/add.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px;
  position: relative;
}
.page-applys-item-render-container{
  width: 100px;
  height: 100px;
  margin-right: 12px;
  position: relative;
}
.page-applys-item-view{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.page-applys-item-render-del{
  width: 20px;
  height: 20px;
  background: url(/images/my/delete.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.page-register-uploader-btn{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.page-post-font-color{
  color:#333;
  font-size: 14px;
}
