.page-introduce{
  width: 100%;
  height: 100%;
  padding: 40px 15px 18px;
}
.page-introduce-title{
  font-size: 20px;
  color: #333333;
  margin-bottom: 15px;
}
.page-introduce-subtitle{
  font-size: 16px;
  color: #151515;
  line-height: 28px;
}
.page-introduce-content{
  font-size: 15px;
  color: #333333;
  letter-spacing: 0;
  line-height: 28px;
}
.page-introduce-take-up{
  margin-bottom: 27px;
}
.page-intoduce-bussiness{
 text-align: right;
}

.page-help-style{
  width: 100%;
  padding: 40px 15px 18px;
}
.page-help-style *{
  max-width: 100%!important;
  box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
  word-wrap: break-word!important;

}