.page-service{
  width: 100%;
  height: 100%;
  padding: 0 38px;
  display: flex;
  flex-direction: column;
}
.page-service-item{
  height: 180px;
  width: 100%;
  padding: 50px 28px 0;
  display: flex;
  flex-direction: reverse;
  justify-content: space-between;
}
.page-service-item-fonts-box{
  width: 120px;
  height: 70px;
  padding-top:30px;
}
.page-service-item-bg{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}
.page-service-item-bg1{
  background-image: url(/images/my/platform.png);
}
.page-service-item-bg2{
  background-image: url(/images/my/help.png);
}
.page-service-item-bg3{
  background-image: url(/images/my/consulting.png);
}
.page-service-item-fonts-box h3{
  font-size: 20px;
  color: #333333;
}
.page-service-item-fonts-box p{
  font-size: 10px;
  color: #666666;
}
