.page-projects-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-projects-tab-container{
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page-projects-li-a-div-style{
  padding:0 5px;
  height: 47px;
  line-height: 47px;
  color: #000;
  border-bottom: 2px solid transparent;
}
.page-projects-li-a-div-style.active{
  padding:0 5px;
  height: 47px;
  line-height: 47px;
  color: #6AC6F8;
  border-bottom: 2px solid #6AC6F8;

}

.page-projects-content-main{
  flex: 1;
}
