
/* .page-project-signUp .am-list-item{
    min-height: 79px;
} */

.page-project-signUp-bottom-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}
.page-project-signUp-bottom-btn-contain{
    height: 49px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.page-project-signUp-bottom-btn-contain .all ,.page-project-signUp-bottom-btn-contain .alltrue{
    width: 77px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
.page-project-signUp-bottom-btn-contain .all .checkall{
    display: flex;
    width: 18px;
    height: 18px;
    background-image:url(/images/my/buy_box@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}
.page-project-signUp-bottom-btn-contain .alltrue .checkall{
    display: flex;
    width: 18px;
    height: 18px;
    background-image:url(/images/my/buy_box_selected@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}
.page-project-signUp-bottom-btn-contain .btn{
    width: 140px;
    background: #6AC6F8;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #FFFFFF;
}
.page-project-signUp-bottom-btn-contain .total{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #282828;
}

.page-project-signUp-bottom-btn-contain .total span{
    font-weight: 600;
}
.page-project-signUp .take-up{
    width: 100%;
    height: 50px;
}