
/* .page-project-signUp .am-list-item{
    min-height: 79px;
} */
.page-project-signUp{
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page-project-signUp-bottom-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
}

.page-project-signUp .am-list-header {
    height: 50px;
    color: #666666;
    font-size: 15px;
    line-height: 30px;
  }
  .page-project-signUp select {

    /*很关键：将默认的select选择框样式清除*/
    -moz-appearance: none;
    -webkit-appearance: none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url(/images/my/more.png) no-repeat scroll right center transparent;
    background-size: 20px 20px;
    padding-right: 14px;
    outline: none;
    text-align: left;
    padding-left: 15px;
    flex: 1;
}

.page-project-signUp label {
    flex: 1;
    display: flex;
}

.page-project-signUp-bottom-btn-contain{
    height: 49px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.page-project-signUp-bottom-btn-contain .all ,.page-project-signUp-bottom-btn-contain .alltrue{
    width: 77px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
.page-project-signUp-bottom-btn-contain .all .checkall{
    display: flex;
    width: 18px;
    height: 18px;
    background-image:url(/images/my/buy_box@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}
.page-project-signUp-bottom-btn-contain .alltrue .checkall{
    display: flex;
    width: 18px;
    height: 18px;
    background-image:url(/images/my/buy_box_selected@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}
.page-project-signUp-bottom-btn-contain .btn{
    flex: 1;
    background: #6AC6F8;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #FFFFFF;
}
.page-project-signUp-bottom-btn-contain .total{
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #282828;
}

.page-project-signUp-bottom-btn-contain .total span{
    font-weight: 600;
}
.page-project-signUp .take-up{
    width: 100%;
    height: 50px;
}


.page-project-signUp-other-title {
    position: relative;
}
.page-project-signUp-verify-header-start {
    position: absolute;
    left: 6px;
    top: 20px;
    color: red;
}

.page-project-signUp-verify-header-other-start {
    top: 23px;
}

.page-project-signUp-verify-header-box-pic-fonts {
    font-size: 15px;
    color: #666;
    text-align: justify;
    padding: 15px;
}

.page-project-signUp-verify-header-other-pic-start {
    top: 19px;
}

.page-project-signUp-verify-fonts {
    font-size: 15px;
    color: #666;
    width: 70px;
    text-align: justify;
    text-align-last: justify;
    overflow : hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp:2; 
}

.page-project-signUp-verify-text {
    height: 50px;
    font-size: 15px;
    text-align: left;
    width: 275px;
    display: block;
    padding-left: 15px;
}

.page-project-signUp-photo-container{
    width: 345px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left:12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .page-project-signUp-item-render-container{
    width: 80px;
    height: 80px;
    margin-right: 12px;
    position: relative;
  }
  .page-project-signUp-item-view{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .page-project-signUp-item-render-del{
    width: 20px;
    height: 20px;
    background: url(/images/my/delete.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }
  
.page-project-signUp-verify-container select {

    /*很关键：将默认的select选择框样式清除*/
    -moz-appearance: none;
    -webkit-appearance: none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url(/images/my/more.png) no-repeat scroll right center transparent;
    background-size: 20px 20px;
    padding-right: 14px;
    outline: none;
    text-align: left;
    padding-left: 15px;
    flex: 1;
}

.page-project-signUp-verify-container label {
    flex: 1;
    display: flex;
}
.page-project-signUp-item-upload-container{
    width: 100px;
    height: 100px;
    background-image:url(/images/my/add.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 12px;
    position: relative;
  }
.page-project-signUp-verify-container {
    /* width: 100%;
    height: 100%; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 50px;
}

.page-project-signUp-verify-main {
    width: 100%;
}

.page-project-signUp-verify-title {
    width: 100%;
    padding-left: 15px;
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    padding-bottom: 36px;
    background-color: #ffffff;
    padding-top: 36px;
}

.page-project-signUp-verify-header-box {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: reverse;
    justify-content: flex-start;
    align-items: center;
    color: #666666;
    position: relative;
}

.page-project-signUp-other-title {
    position: relative;
}

.page-project-signUp-verify-header-start {
    position: absolute;
    left: 6px;
    top: 20px;
    color: red;
}

.page-project-signUp-verify-header-other-start {
    top: 23px;
}

.page-project-signUp-verify-header-box-pic-fonts {
    font-size: 15px;
    color: #666;
    text-align: justify;
    padding: 15px;
    overflow : hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp:2; 
}

.page-project-signUp-verify-header-other-pic-start {
    top: 19px;
}

.page-project-signUp-verify-fonts {
    font-size: 15px;
    color: #666;
    width: 70px;
    text-align: justify;
    text-align-last: justify;
    overflow : hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp:2; 
}

.page-project-signUp-verify-text {
    height: 50px;
    font-size: 15px;
    text-align: left;
    width: 275px;
    display: block;
    padding-left: 15px;
}


.page-project-signUp-verify-bottom {

    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.page-my-profile-signUp-verify-double-text{
    height: 50px;
    width: 100%;
    font-size: 15px;
    text-align: left;
    flex: 1;
    display: block;
    padding-left: 20px;
}
.page-project-signUp-verify-btn {
    width: 300px;
    height: 50px;
    margin: 50px auto;
    background: #C7EAFD;
    border-radius: 100px;
    font-size: 16px;
    color: #666666;
    line-height: 50px;
    text-align: center;
}

.page-project-signUp-none {
    display: none;
}

.page-project-signUp-verify-header-box-nowaddress {
    width: 100%;
    height: 30px;
    background: #F8F8F8;
    font-size: 13px;
    color: #666666;
    line-height: 30px;
    padding-left: 15px;
}

.page-project-signUp-verify-photo-box {
    justify-content: space-between;
}

.page-project-signUp-verify-photo {
    display: flex;
    align-items: center;
}

.page-project-signUp-verify-photo:last-child {
    margin-left: 10px;
}

.page-project-signUp-verify-photo i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/images/my/more.png') no-repeat scroll right center transparent;
    background-size: 20px 20px;
}

.am-checkbox-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 40px;
    background-color: #fff;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.page-project-signUp-edit-text {
    width: 345px;
    height: 100px;
    margin-bottom: 20px;
    margin: 0 15px;
    background: #FFFFFF;
    border-radius: 4px;
    font-size: 15px;
    line-height: 21px;
    color: #282828;
    resize: none;
    outline: none;
    position: relative;
}

.page-project-signUp-verify-text-lineheight {
    line-height: 40px;
}
.page-project-signUp-verify-text-lineheight img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.page-signUp-danxuan .am-list-line{
    padding-left: 40px;
    position: relative;
  }
  .page-signUp-danxuan .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio-inner{
    left: 0;
    top: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    /* border-color: #108ee9;
    background: #108ee9; */
  }
  .page-signUp-danxuan  .am-radio-checked .am-radio-inner{
    left: 0;
    top: 15px;
    border: 1px solid #108ee9;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    background: #108ee9;
   
  }
  .page-signUp-danxuan   .am-radio.am-radio-checked .am-radio-inner:after{
    border-color: #fff;
    
  }
  .page-signUp-danxuan  .am-radio-inner:after{
    position: absolute;
    display: none;
    top: 2px;
    right: 6px;
    z-index: 999;
    width: 5px;
    height: 11px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: ' ';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
 }
 .page-signUp-danxuan .am-list-item .am-list-line .am-list-content{
    flex: 1 1 0%;
    color: #000;
    font-size: 17px;
    line-height: 52px;
    text-align: left;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    display: flex;
    height: 44px;
 }
 .page-project-signUp-other-title .am-list-item .am-list-line .am-list-content{
    flex: 1 1 0%;
    color: #000;
    font-size: 17px;
    line-height: 49px;
    text-align: left;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    display: flex;
    height: 44px;
 }
 .page-project-signUp-verify-text-more{
    width: 20px;
    height: 20px;
 }