.components-circle-message-item-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.components-circle-message-item{
  width: 100%;
  height: 135px;
  padding: 15px 15px 0;
  overflow: hidden;
}
.components-circle-message-item-main{
  width: 100%;
  height: 112px;
  display: flex;
  flex-direction: reverse;
}
.components-circle-message-item-avatar{
  margin-right: 10px;
}
.components-circle-message-item-content{
  width: 220px;
  margin-right: 15px;
}
.components-circle-message-item-info{
  width: 60px;
  height: 80px;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 20px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:4;
}
.components-circle-message-item-content-name{
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 8px;
}
.components-circle-message-item-content-comment{
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 20px;
  height: 60px;
  margin-bottom: 8px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;

}
.components-circle-message-item-content-date{
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 13px;
}
.components-circle-message-item-info-img{
  width: 60px;
  height: 60px;
}
.components-circle-message-item-content-comment-delete{
  width: 90px;
  height: 24px;
  background: #F8F8F8;
  border-radius: 2px;
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
.components-circle-message-item-none-content{
  padding-left: 24px;
  padding-right: 26px;
  background-image: url('/images/my/praise_n.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 13px;
}
.teams-empty-tip{
  padding: 20px;
  text-align: center;
  color: #999;
  font-size: 14px;
  background: #fff;
  font-weight: 200;
}
