
.page-claim-detail {
  width: 100%;
  height: 100%;
  background: #FAFAFA;
}

.page-claim-detail .header {
  background: #fff;
}
/*
.page-claim-detail .header .project-photo {
  width: 100%;
  height: 220px;
} */

.page-claim-detail .slick-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 220px;
}

.page-claim-detail .slick-container-empty {
  background: url(/images/default_banner.png) no-repeat top left;
  background-size: cover;
  background-position: center;
}

.page-claim-detail .slick-container .image{
  width: 100%;
  height: 220px;
}

.page-claim-detail .slick-dots {
  position: absolute;
  bottom: 10px;
}

.page-claim-detail .header .header-addition {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-claim-detail .header .header-addition .team-info{
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333333;
}

.page-claim-detail .header .header-addition .team-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
}

.page-claim-detail .header .header-addition .project-number {
  font-size: 13px;
  color: #666666;
}

.page-claim-detail .body .project-name {
  font-size: 22px;
  color: #333333;
  line-height: 30px;
  padding: 0 20px 10px;
  background: #fff;
}

.page-claim-detail .body .project-category {
  padding: 0 20px;
  font-size: 13px;
  color: #999;
  background: #fff;
}

.page-claim-detail .body .project-detail-list {
  padding: 30px 20px 20px;
  position: relative;
  background: #fff;
}

.page-claim-detail .body .project-detail-list .line1px-v {
  height: 100%;
  position: absolute;
  left: 5px;
  top: 0;
  background-color: #E5E5E5;
}

.page-claim-detail .body .project-detail-list .item-point {
  position: absolute;
  left: 0;
  top: 0;
  background: #C7EAFD;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  z-index: 1;
}

.page-claim-detail .body .project-detail-list ul {

}

.page-claim-detail .body .project-detail-list li {
  padding-bottom: 20px;
  padding-left: 30px;
  position: relative;
}

.page-claim-detail .body .project-detail-list .detail-title {
  font-size: 13px;
  color: #999;
  margin-bottom: 5px;
}

.page-claim-detail .body .project-detail-list .detail-content {
  font-size: 18px;
  color: #333333;
}

.page-claim-detail .body .project-detail-list .project-guard {
  border: 1px solid #F6AB00;
  border-radius: 8px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}

.page-claim-detail .body .project-detail-list .project-guard img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.page-claim-detail .body .project-detail-list .project-guard span {
  font-size: 15px;
  color: #666666;
  letter-spacing: 0;
  line-height: 12px;
  width: 65px;
}

.page-claim-detail .body .project-detail-list .project-guard .line1px-v {
  height: 40px;
  margin: 0 15px;
  position: static;
}

.page-claim-detail .body .project-detail-list .project-guard .guard-detail {
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  /* overflow: hidden; */
  display: -webkit-box;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.page-claim-detail .body .project-report {
  margin: 10px 0;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.page-claim-detail .body .project-report > span {
  font-size: 15px;
  color: #333333;
}

.page-claim-detail .body .project-report > div {
  font-size: 13px;
  color: #666666;
}
.page-claim-detail .body .project-takeup{
  width: 100%;
  height: 10px;
  background: #F8F8F8;
}
.page-claim-detail .body .project-description {
  /* padding: 25px 20px 75px; */
  background: #fff;
  padding-top: 20px;
  padding-bottom: 22px;
}

.page-claim-detail .body .project-description > div:nth-of-type(1) {
  font-size: 15px;
  color: #333333;
  margin-bottom: 11px;
  background: #C7EAFD;
  width: 105px;
  height: 30px;
  border-radius: 0 30px 30px 0;
  padding-left: 15px;
  line-height: 30px;
  font-weight: 400;
}
.page-claim-detail .body .project-description > div:nth-of-type(2){
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 15px;
}
.page-claim-detail .body .project-description > div:nth-of-type(2) p.activebtn{
  width: 20px;
  height: 20px;
  background-image: url(/images/icon_down.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateX(180deg);
}
.page-claim-detail .body .project-description > div:nth-of-type(2) p.initailbtn{
  width: 20px;
  height: 20px;
  background-image: url(/images/icon_down.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* .page-claim-detail .body .project-description > p {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 20px;
  padding:0 20px;
} */
.page-claim-detail .body .project-description > p:nth-of-type(1).active{
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 20px;
  padding:0 20px;
  width: 100%;
}
.page-claim-detail .body .project-description > p:nth-of-type(1).initail{
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 20px;
  padding:0 20px;
  max-height: 60px;
  width: 100%;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;

}


.page-claim-detail .body .project-teamlist{
  background: #fff;
  padding-top: 20px;
  padding-bottom: 22px;
}
.page-claim-detail .body .project-teamlist > div:nth-of-type(1) {
  font-size: 15px;
  color: #333333;
  margin-bottom: 11px;
  background: #C7EAFD;
  width: 105px;
  height: 30px;
  border-radius: 0 30px 30px 0;
  padding-left: 15px;
  line-height: 30px;
  font-weight: 400;
}
.page-claim-detail .body .project-claimlist{
  padding: 20px 20px 0;
  font-size: 13px;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-claim-detail .body .project-claimlist ul{
  flex: 1;
}
.page-claim-detail .body .project-claimlist ul li div{
  display: flex;
  justify-content: space-between;
};
.page-claim-detail .body .project-claimlist ul li div > span:nth-of-type(1){
  font-size: 14px;
color: #333333;
}
.page-claim-detail .body .project-claimlist ul li div > span:nth-of-type(2){
  font-size: 13px;
color: #666666;;
}
.page-claim-detail .body footer{
  display: flex;
  padding: 10px 0 20px;
  background: #fff;
  justify-content: center;
  align-items: center;
}
.page-claim-detail .body footer div{
  width: 160px;
  height: 50px;
  border-radius: 100px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
}
.claim-project-action-available{
  background: #C7EAFD;
  color: #666666;
}
.claim-project-action-full{
  background: #666666;
  color: #FFFFFF;
}
.claim-project-action-end{
  background: #666666;
  color: #FFFFFF;
}
.project-description > p img{
  width: 100%;
}
