.component-shopItem li{
    padding: 20px 20px 0;
}
.component-shopItem-container{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.component-shopItem-container .image{
    width: 130px;
    height: 90px;
    margin-right: 15px;
}
.component-shopItem-content{
    width: 190px;
}
.component-shopItem-name-container{
    width: 100%;
    height: 69px;
}
.component-shopItem-name{
    width: 100%;
    font-size: 16px;
    color: #484848;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.component-shopItem-condition{
    margin: 5px 0 10px;
    font-size: 13px;
    color: #999999;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.component-shopItem-price-container{
    display: flex;
    align-items: baseline;
}
.component-shopItem-price-container .new{
    font-size: 19px;
    color: #6AC6F8;
    font-weight: 500;
}
.component-shopItem-price-container .fonts{
    font-size: 13px;
    color: #484848;
    margin: 0 15px 0 5px;
}
.component-shopItem-price-container .old{
    font-size: 13px;
    color: #F8BE1C;
    text-decoration:  line-through;
}
.data-empty-tip {
    padding: 20px;
    text-align: center;
    color: #999;
    font-size: 14px;
    background: #fff;
    font-weight: 200;
    min-height: 300px;
  }
  .component-shopItem .takeupborder{
    width: 100%;
    height: 10px;
    background: #F4F4F4;
  }
  .component-shopItem-order-container{
      display: flex;
      flex-direction: column;
  }
  .component-shopItem-order-time{
    font-size: 14px;
    color: #666666;
    display: flex;
    justify-content: flex-end;
  }
  .component-shopItem-order-time:nth-child(1){
      margin-top: 15px;
  }
  .component-shopItem-order-time:nth-child(2){
    margin:12px 0 15px;
}
  .component-shopItem-order-btn{
    background: #6AC6F8;
    border-radius: 50px;
    width: 100px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #FFFFFF;
    margin: 15px 0;
    margin-left: auto;
  }
  .component-shopItem-order-time-fonts-color{
      color: #6AC6F8;
  }
  .component-shopItem-order-btn-end{
    background: #666666;
    border-radius: 50px;
    width: 100px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #FFFFFF;
    margin: 15px 0;
    margin-left: auto;
  }