.page-collects{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.page-collects-tab-container{
  width: 100%;
  height: 49px;
  display: flex;
  flex-direction:reverse;
  justify-content: center;
  align-items: center;
}
.page-collects-tab-container li{
  height: 49px;
  display:flex;
  justify-content: center;
}
.page-collects-tab-container li:nth-child(1){
  margin-right: 40px;
}
.page-collects-tab-container li:nth-child(2){
  margin-left: 40px;
}
.page-collects-tab-container li div{
  height: 49px;
  line-height: 49px;
  font-size: 15px;
  padding: 0 5px;
}
.page-collects-tab-current-li div{
  color: #6AC6F8;
  border-bottom: 2px solid #6AC6F8;
}
.page-collects-content{
  width: 100%;
  height: 100%;
  flex:1;
  overflow-x: auto;
}
.page-collects-content-main{
  display: none;
}
.page-collects-content-main-current{
  display: block;
}
