.page-profile-checkbox-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:30px;
}
.page-profile-checkbox-ground{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex:1;
  overflow-y: scroll;
}
.page-profile-checkbox-ground li label {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
}
.page-profile-checkbox-ground li label i {font-size:15px;font-style:normal;display:inline-block;width:15px;height:15px;text-align:center;line-height:15px;color:#fff;vertical-align:middle;margin:-2px 17px 1px 0px;border:#29C6A9 1px solid;}
.page-profile-checkbox-ground li label input[type="checkbox"] {display:none;}
.page-profile-checkbox-ground li label input[type="checkbox"] + i {border-radius:50%;}
.page-profile-checkbox-ground li label input[type="checkbox"]:checked + i {background:#29C6A9;color:#f8f8f8;}
.page-profile-checkbox-ground li label input[type="checkbox"]:disabled + i  {border-color:#FFF;}
.page-profile-checkbox-ground li label input[type="checkbox"]:checked:disabled + i{background:#FFF;}
.page-profile-checkbox-btn{
  width: 300px;
  height: 50px;
  background: #C7EAFD;
  border-radius: 100px;
  font-size: 16px;
  color: #666666;
  line-height: 50px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
