.page-my-profile-edit-container{
  width: 375px;
  height: 667px;
  background: #f8f8f8;
  padding-top:15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-my-profile-edit-text{
  width: 345px;
  height: 100px;
  margin-bottom:20px;
  background: #FFFFFF;
  border-radius: 4px;
  font-size: 15px;
  color: #999999;
  letter-spacing: 0;
  line-height: 15px;
  resize:none;
  padding: 15px 18px;
  outline: none;
}
.page-mu-profile-edit-btn{
  background: #C7EAFD;
  border-radius: 4px;
  width: 345px;
  height: 50px;
  font-size: 16px;
  color: #666666;
  text-align: center;
  line-height: 50px;
}
