body {
    background-color: #F9F9FB;
}

.page-profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    overflow-y: scroll;
}

.page-profile-title {
    width: 100%;
    padding-left: 15px;
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    padding-bottom: 36px;
}

.page-profile-header-box {
    width: 100%;
    min-height: 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: reverse;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #666666;
}
.page-profile-fonts-single{
    width: 100%;
    min-height:20px;
    line-height: 30px;
}


.page-profile-header-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;

}

.page-profile-header-img-container {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    position: relative;
}

.page-profile-header-upload {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.page-profile-edit-icon {
    width: 20px;
    height: 20px;
    background-image: url(/images/my/more.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.page-profile-header-uploade-box {
    display: flex;
    flex-direction: reverse;
    align-items: center;
}

.page-profile-fonts-view {
    width: 100%;
    min-height: 37px;
    padding: 0 15px;
    font-size: 15px;
    color: #333;
    line-height: 20px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: clip;
    white-space: nowrap; */
    background-color: #fff;
    margin-bottom: 20px;
}

.page-profile-take-up {
    height: 15px;
    width: 100%;
    background-color: #f8f8f8;
}

.page-profile-bottom {
    width: 100%;
    flex: 1;
    background-color: #f8f8f8;
}

.page-profile-bottom-btn {
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-size: 16px;
    color: #6AC6F8;
    text-align: center;
    line-height: 50px;
}

.page-profile-checkbox-container {
    width: 100%;
    padding: 0 15px;
}

.page-profile-initial-fonts {
    font-size: 15px;
    color: #333333;
}

.page-profile-initial-fonts-take-up {
    width: 25px;
    height: 20px;
}

.page-profile-realinfo-takeup {
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
}

.page-profile-realinfo-padding-top {
    padding-top: 36px;
}

.page-profile-edit-box {
    display: flex;
}

.page-profile-display-block {
    display: block;
}

.page-profile-display-none {
    display: none;
}
.page-profile-display-extends-block {
    display: block;
}

.page-profile-display-extends-none {
    display: none;
}

.page-profile-bottom-real-info-container {
    background: #fff;
    padding-bottom: 41px;
}

.page-profile-renview-container {
    display: flex;
    flex-direction: reverse;
    align-items: center;
}

.page-profile-fonts {
    width: 80px;
}

.page-profile-edit-right-box {
    flex: 1;
    text-align: left;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-profile-header-line {
    height: 30px;
    color: #666666;
    font-size: 13px;
    padding: 0 15px;
    line-height: 30px;
    background-color: #F8F8F8;
}

.page-profile-header-cut {
    height: 10px;
    background-color: #F8F8F8;
}

.page-profile-edit-btn {
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 40px auto 69px;
    border-radius: 200px;
    background-color: #C7EAFD;
}

.page-profile-fonts-main {
    color: #282828;
}

.page-profile-header-box input {
    outline: none;
    border: none;
    width: 100%;
}

.page-profile-edit-right-box label {
    width: 100%;
}

.page-profile-edit-right-box select {
    width: 100%;
    color: #282828;
    background: url('/images/my/more.png') no-repeat scroll right center transparent;
    background-size: 20px 20px;
    padding-right: 14px;
    outline: none;
    height: 24px;
    text-align: left;
}

.page-profile-apply-alert {
    width: 300px;
    height: 50px;
    line-height: 50px;
    background-color: #C7EAFD;
    border-radius: 100px;
    margin: 0 auto;
    text-align: center;
    color: #666666;
    font-size: 16px;
}

.page-profile-extends .page-profile-fonts-view {
    width: 100%;
    min-height: 37px;
    padding: 0 15px;
    font-size: 15px;
    color: #333;
    line-height: 20px;

    white-space: wrap;
    background-color: #fff;
    margin-bottom: 20px;
}

.page-profile-extends .page-profile-fonts-view-img {
    width: 95px;
    height: 100px;
    padding: 0 0 20px 15px;
}
.page-profile-header-box .am-list-item .am-list-line .am-list-arrow {
    background-image: url("/images/my/more.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.page-profile-header-box .am-list-item .am-list-line {
    padding: 0;
}
.page-profile-header-box.default>div {
    width: 100%;
}
.page-profile-header-box.default .am-list-item {
    padding: 0;
}
.page-profile-header-box.default .am-list-item .am-list-line .am-list-content {
    font-size: 15px;
    color: #666666;
    font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}
.page-profile-header-box.default .am-list-item .am-list-line .am-list-extra {
    font-size: 15px;
    color: #666666;
    font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}