
.page-my-profile-verify-container select {

  /*很关键：将默认的select选择框样式清除*/
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:  url(/images/my/more.png) no-repeat scroll right center transparent;
  background-size: 20px 20px;
  padding-right: 14px;
  outline: none;
  text-align: left;
  padding-left: 15px;
  flex: 1;
}
.page-my-profile-verify-container label{
  flex: 1;
  display: flex;
}
.page-my-profile-verify-container{
  /* width: 100%;
  height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-my-profile-verify-title{
  width: 100%;
  padding-left: 15px;
  font-size: 20px;
  color: #333333;
  font-weight: 600;
  padding-bottom: 36px;
  background-color: #ffffff;
  padding-top:36px;
}
.page-my-profile-verify-header-box{
  width: 100%;
  height: 50px;
  padding: 0 15px;
  display: flex;
  flex-direction: reverse;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
}
.page-my-profile-verify-fonts{
  font-size: 15px;
  color: #333333;
  width: 70px;
  text-align: justify;
  text-align-last:justify;
}
.page-my-profile-verify-text{
  height: 50px;
  font-size: 15px;
  text-align: left;
  width: 275px;
  display: block;
  padding-left: 15px;
}
/* .page-my-profile-verify-icon{
  width: 20px;
  height: 20px;
  background-image: url(/images/my/more.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
} */
.page-my-profile-verify-bottom{
  /* width: 100%;
  flex: 1;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 50px;
  display: flex;
  justify-content: center;

}
.page-my-profile-verify-btn{
  width: 300px;
  height: 50px;
  margin-top: 50px;
  background: #C7EAFD;
  border-radius: 100px;
  font-size: 16px;
  color: #666666;
  line-height: 50px;
  text-align: center;
}
.page-my-profile-none{
  display: none;
}
.page-my-profile-verify-header-box-nowaddress{
  width: 100%;
  height: 30px;
  background: #F8F8F8;
  font-size: 13px;
  color: #666666;
  line-height: 30px;
  padding-left: 15px;
}
