.uploadAvatar .page-profile-header-uploade-box-div {
    position: relative;
}
.uploadAvatar .page-profile-header-uploade-box-iptbox {
    position: relative;
    z-index: 3;
}
.uploadAvatar .page-profile-header-uploade-box-ipt {
    opacity: 0;
    outline: none;
    width: 100%
}
.uploadAvatar .page-profile-header-uploade-box-img {
    min-height: 40px;
    width: 40px;
    right: 0;
    top: -8px;
    z-index: 1;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: cover;
}