.page-project-detail {
  /* position: absolute;
  top: 0;
  left:0; */
  width: 100%;
  height: 100%;
  /* background: #FAFAFA; */
}

.page-project-detail .header {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
.page-project-detail .header .project-photo {
  width: 100%;
  height: 220px;
} */

.page-project-detail .slick-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 220px;
}

.page-project-detail .slick-container-empty {
  background: url(/images/default_banner.png) no-repeat top left;
  background-size: cover;
  background-position: center;
}

.page-project-detail .slick-container .image{
  width: 100%;
  height: 220px;
}

.page-project-detail .slick-dots {
  position: absolute;
  bottom: 10px;
}

.page-project-detail .header .header-addition {
  width: 345px;
  height: 50px;
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-project-detail .header .header-addition  img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.page-project-detail .header .header-addition .team-info{
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333333;
  padding-left: 10px;

}

.page-project-detail .header .header-addition .team-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
}

.page-project-detail .header .header-addition .project-number {
  font-size: 13px;
  color: #666666;
}

.page-project-detail .body .project-name {
  font-size: 15px;
  color: #333333;
  line-height: 30px;
  padding: 15px 20px 10px;
  background: #fff;
}

.page-project-detail .body .project-category {
  padding: 0 20px;
  font-size: 13px;
  color: #999;
  background: #fff;
}

.page-project-detail .body .project-detail-list {
  padding: 30px 20px 20px;
  position: relative;
  background: #fff;
}

.page-project-detail .body .project-detail-list .line1px-v {
  height: 100%;
  position: absolute;
  left: 5px;
  top: 0;
  background-color: #E5E5E5;
}

.page-project-detail .body .project-detail-list .item-point {
  position: absolute;
  left: 0;
  top: 0;
  background: #C7EAFD;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  z-index: 1;
}

.page-project-detail .body .project-detail-list ul {

}

.page-project-detail .body .project-detail-list li {
  padding-bottom: 20px;
  padding-left: 30px;
  position: relative;
}

.page-project-detail .body .project-detail-list .detail-title {
  font-size: 13px;
  color: #999;
  margin-bottom: 5px;
}

.page-project-detail .body .project-detail-list .detail-content {
  font-size: 14px;
  color: #333333;
}

.page-project-detail .body .project-detail-list .project-guard {
  border: 1px solid #F6AB00;
  border-radius: 8px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}

.page-project-detail .body .project-detail-list .project-guard img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.page-project-detail .body .project-detail-list .project-guard span {
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 12px;
  width: 65px;
}

.page-project-detail .body .project-detail-list .project-guard .line1px-v {
  height: 40px;
  margin: 0 15px;
  position: static;
}

.page-project-detail .body .project-detail-list .project-guard .guard-detail {
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  /* overflow: hidden; */
  display: -webkit-box;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.page-project-detail .body .project-report {
  margin: 10px 0;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.page-project-detail .body .project-report > span {
  font-size: 15px;
  color: #333333;
}

.page-project-detail .body .project-report > div {
  font-size: 13px;
  color: #666666;
}

.page-project-detail .body .project-description {
  padding: 25px 20px 0px;
  background: #fff;
  overflow-x: hidden;
}
.page-project-detail .body .project-description p *{
  max-width: 100%!important;
  box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
  word-wrap: break-word!important;

}
.project-description-takeup{
  width: 100%;
  height: 75px;
}
.project-description-backhome{
  width: 70px;
  height: 38px;
  position: fixed;
  bottom: 70px;
  right: 20px;
}
.project-description-backhome a{
  display: block;
  width: 70px;
  height: 38px;
  background-image: url(/images/my/backhome.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-project-detail .body .project-description > div {
  font-size: 15px;
  color: #333333;
  margin-bottom: 11px;
}

.page-project-detail .body .project-description > p {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 20px;
}
.page-project-detail .body .project-description   img {
  width: 100%;
  display: block;
  margin: auto;
}

.page-project-detail .foot {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: stretch;
  background: #fff;
  z-index: 2;
}

.page-project-detail .foot .line1px {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.page-project-detail .foot .project-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
}

.page-project-detail .foot .project-action-favorite {
  margin: 0 30px;
}

.page-project-detail .foot .project-action-share {
  margin-right: 30px;
}

.page-project-detail .foot .project-action span:first-child {
  width: 24px;
  height: 24px;
  background: no-repeat center;
  background-size: contain;
}

.page-project-detail .foot .project-action span:last-child {
  font-size: 10px;
  color: #333333;
  text-align: center;
}

.page-project-detail .foot .project-action-favorite span:first-child {
  background-image: url(/images/icon_collect.png);
}

.page-project-detail .foot .project-action-favorite span:first-child.selected {
  background-image: url(/images/icon_collect_h.png)
}

.page-project-detail .foot .project-action-share span:first-child {
  background-image: url(/images/icon_share.png);
}

.page-project-detail .foot .project-action-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.page-project-detail .foot .project-action-available {
  background: #C7EAFD;
  color: #666666;
}

.page-project-detail .foot .project-action-quit {
  background: #FBABAB;
  color: #666666;
}

.page-project-detail .foot .project-action-full, .page-project-detail .foot .project-action-end {
  background: #666666;
  color: #ffffff;
}

.page-project-detail .foot .project-action-audit {
  background: #FDCD89;
  color: #666666;
}


.page-project-detail .component-tab > div.tab-panel:nth-last-child(1){
  position: relative;
}
.page-project-detail-community-link{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-image: url(/images/my/release.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/* .page-project-detail > .page-circle-rendercommunity-container-main{
  width: 150px;
  height: 180px;
  margin:110px auto;
} */
.page-project-detail .page-circle-rendercommunity-img{
  width: 150px;
  height: 150px;
  display: block;
  margin: 110px auto 10px;
}
.page-project-detail  .page-circle-rendercommunity-info{
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
