.repo-page {
    padding: 20px;
    text-align: center;
}

.repo-page h3 {
    font-size: 20px;
    margin: 0 0 20px;
}

.repo-detail > div {
    margin: 10px 0;
}

.repo-page .back-button {
    color: #2379E9;
    text-decoration: underline;
}