.page-circlevisits-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.page-circlevisits-header-container{
  width: 100%;
  height: 50px;
}
.page-circlevisits-header-top{
  width: 100%;
  padding: 0 50px;
  height: 49px;
  display: flex;
  flex-direction: reverse;
  justify-content: space-between;
  align-items: center;
}
.page-circlevisits-header-top-line{
  height: 31px;
}
.page-circlevisits-header-top-link-container{
  font-size: 16px;
  color: #333333;
  display: flex;
  align-items: center;
}
.page-circlevisits-header-top-link-icon{
  width: 18px;
  height: 18px;
  background-repeat:no-repeat;
  background-size: contain;
  margin-right: 8px;
}
.page-circlevisits-header-top-link-icon-publish{
  background-image: url(/images/my/comments.png);
}
.page-circlevisits-header-top-link-icon-ld{
  background-image: url(/images/my/message.png);
  position: relative;
}
.page-circlevisits-header-top-link-icon-ld-ponit{
  display: block;
  padding: 0 3px;
  font-size: 12px;
  text-align: center;
  border-radius: 50px;
  color: #FFFFFF;
  background-color: red;
  position: absolute;
  left: 9px;
  top: -7px;
}
.page-circlevisits-team-detail-community-link{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-image: url(/images/my/release.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.page-circlevisits-container .page-circle-rendercommunity-container{
  width: 150px;
  height: 180px;

  margin:110px auto;
}
.page-circlevisits-container .page-circle-rendercommunity-img{
  width: 150px;
  height: 150px;
  display: block;
  margin-bottom: 10px;
}
.page-circlevisits-container .page-circle-rendercommunity-info{
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
