.page-sign-detail{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F8F8F8;
}
.page-sign-title{
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;
    line-height: 50px;
}


.page-sign-detail  .project-detail-list {
  padding: 30px 20px 20px;
  position: relative;
}

.page-sign-detail  .project-detail-list .line1px-v {
  height: 100%;
  position: absolute;
  left: 5px;
  top: 0;
  background-color: #E5E5E5;
}

.page-sign-detail  .project-detail-list .item-point {
  position: absolute;
  left: 0;
  top: 0;
  background: #D8D8D8;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  z-index: 1;
}
.page-sign-detail  .project-detail-list .item-point-color {
  background: #A0D9F7;
}
.page-sign-detail  .project-detail-list ul {

}

.page-sign-detail  .project-detail-list li {
  padding-bottom: 20px;
  padding-left: 30px;
  position: relative;
}

.page-sign-detail  .project-detail-list .detail-title {
  font-size: 13px;
  color: #999;
  margin-bottom: 5px;
}

.page-sign-detail  .project-detail-list .detail-content {
  font-size: 14px;
  color: #333333;
  
}

.page-sign-detail  .project-detail-list .detail-content  .sign-ball-content{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



.page-sign-detail .page-signball-shape{
  width: 195px;
  height: 195px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url(/images/sign/signballgrew.png) no-repeat;
  background-size: cover;

}
.page-sign-detail .page-signball-islight{
   background: url(/images/sign/signball.png) no-repeat;
  background-size: cover;
}
.page-sign-detail .page-signball-title{
  width: 100%;
  font-size: 17px;
  text-align: center;
  padding-bottom: 5px;
}
.page-sign-detail .page-signball-date{
 font-family: PingFangSC-Regular;
font-size: 12px;
color: rgba(255,255,255,0.80);
letter-spacing: 0;
}

.page-signball-distanceinfo-container{
  font-size: 11px;
  color: #9B9B9B;
}
.page-signball-distanceinfo-container .sign-first{
  width: 13px;
  margin-right: 9px;
}