.achievement {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    position: absolute;
    background-color: rgb(243, 243, 243);
}
.achievement-box {
    width: 339px;
    padding: 27px 28px 0;
    margin: 0 auto;
    background-color: #FFF;
}
.achievement-box-title {
    display: flex;
    align-items: baseline;
    margin-bottom: 32px;
    justify-content: space-between;
}
.achievement-box-title>div:nth-child(1) {
    font-family: PingFangSC-Semibold;
    font-size: 17px;
    color: #262A35;
}
.achievement-box-title>div:nth-child(2) {
    font-family: PingFangSC-Semibold;
    font-size: 11px;
    color: #9B9B9B;
}
.achievement-array {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.achievement-array-item {
    min-width: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 10px;
    overflow: hidden;
}
.achievement-array-item>div {
    width: 48px;
    height: 48px;
    margin-bottom: 9px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.achievement-array-item>p {
    margin-bottom: 37px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #4A4A4A;
}
.modal-new-wrap-container-padding {
    border-radius: 0;
}
.modal-new-wrap-container-padding {
    padding: 0;
}
.achievement-modal-box {

}
.achievement-modal-box-all {
    position: relative;
    height: 241px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.achievement-modal-box-all-gold {
    background-image: url("/images/my/achievement-gold.png");
}
.achievement-modal-box-all-silver {
    background-image: url("/images/my/achievement-silver.png");
}
.achievement-modal-box-all-iron {
    background-image: url("/images/my/achievement-iron.png");
}
.achievement-modal-box-all-box {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}
.achievement-modal-box-all-box>div {
    width: 144px;
    height: 144px;
    display: inline-block;
}
.achievement-modal-box-all-box>p {
    font-family: PingFangSC-Semibold;
    font-size: 27px;
    color: #4A4A4A;
    margin-top: 14px;
}
.achievement-modal-box-level {
    width: 227px;
    height: 74px;
    margin: 21px auto 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.achievement-modal-box-level-gold {
    background-image: url("/images/my/acgievement-level-gold.png");
}
.achievement-modal-box-level-silver {
    background-image: url("/images/my/acgievement-level-silver.png");
}
.achievement-modal-box-level-iron {
    background-image: url("/images/my/acgievement-level-iron.png");
}
.achievement-modal-box-level-default {
    background-image: url("/images/my/acgievement-level-default.png");
}
.achievement-modal-box-level-box {
    width: 250px;
    display: flex;
    margin: 13px auto 14px;
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #9B9B9B;
    justify-content: space-between;
}
.achievement-modal-box-tips {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #4A4A4A;
    text-align: center;
    margin-bottom: 28px;
}
.achievement-modal-box-btn {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    height: 37px;
    line-height: 37px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.achievement-modal-box-btn-default {
    height: 100%;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.09);
    border-radius: 18.5px;
    width: 110px;
}
.achievement-modal-box-btn-left {
    background: #F89393;
}
.achievement-modal-box-btn-left-flex1 {
    flex: 1;
}
.achievement-modal-box-btn-right {
    background: #A0D9F7;
}
.achievement-modal-box-all-box>div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.achieve-share-bigimg {
    width: 100%;
    height: 224px;
    background-image: url("/images/my/achieve-share-big.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.achieve-share {
    position: relative;
}
.achieve-share-avatar {
    position: absolute;
    top: 105px;
    left: 50%;
    margin-left: -29.5px;

}
.achieve-share-username {
    position: absolute;
    top: 175px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    text-align: center;
}
.achieve-share-num {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.achieve-share-num p {
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #999999;
    transform: scale(0.9);
}
.achieve-share-num-p {
    position: relative;
}
.achieve-share-num-word {
    font-family: AbadiMT-CondensedExtraBold;
    font-size: 34px;
    color: #000000;
}
.achieve-share-num-p-span {
    position: absolute;
    bottom: 9px;
    margin-left: 4px;
}
.achieve-share-all{
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.achieve-share-all-item-img {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto 8px;
    object-fit: cover;
}
.achieve-share-all-item {
    margin-top: 16px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #4A4A4A;
    min-width: 70px;
    text-align: center;
}
.achieve-share-word-img {
    text-align: right;
    padding: 0 40px;
    margin-top: 30px;
}
.achieve-share-word-img-img {
    width: 167px;
    height: 15px;
}
.achieve-share-qrcode {
    display: flex;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #999999;
    align-items: flex-end;
    margin: 10px 0 12px 18px;
}
.achieve-share-qrcode .achieve-share-qrcode-img {
    width: 48px;
    height: 48px;
    margin-right: 5px;
}
.achieve-share-avatar-image {
    width: 59px;
    height: 59px;
    border-radius: 100%;
    object-fit: cover;
}
.achievement-modal-box-btn a {
    color: #fff;
    font-family: PingFangSC-Regular;
    font-size: 13px;
}
.share-my-achievement {
    width: 315px;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    text-align: center;
    margin: 20px auto;
    font-size: 14px;
    background-color: #ff4b17;
}
.modal-this {
    padding: 25px 0px 13px;
    width: 310px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    position: absolute;
    top: -99999px;
}
.modal-this-name {
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #4A4A4A;
    margin: 18px auto;
    text-align: center;
}
.modal-this-time {
    font-family: PingFangSC-Semibold;
    font-size: 17px;
    color: #4A4A4A;
    text-align: center;
}
.modal-this-line {
    font-family: PingFangSC-Semibold;
    font-size: 17px;
    color: #9B9B9B;
    text-align: center;
    display: flex;
    margin-top: 22px;
    padding: 0px 17px;
    justify-content: space-between;
    align-items: center;
}
.modal-this-avatar {
    width: 59px;
    height: 59px;
    border-radius: 100%;
    margin: 0 auto;
}
.modal-this-two-line {
    background: #e2e2e2;
    height: 2px;
    width: 72px;
}
.modal-this-big-img {
    width: 100%;
    height: 290px;
    background: url("/images/modal_this_big_img.png")no-repeat;
    background-size: 310px;
}
.modal-this-achieve-name {
    position: relative;
    top: 24px;
    font-family: PingFangSC-Semibold;
    font-size: 20px;
    color: #BB781D;
    text-align: center;
}
.modal-this-achieve-img {
    width: 145px;
    height: 145px;
    position: relative;
    top: 50px;
    background-color: transparent;
    left: 50%;
    margin-left: -72.5px;
}
.modal-this-footer {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #4A4A4A;
    text-align: center;
    margin-top: 22px;
}
.modal-this-share-qrcode {
    position: absolute;
    bottom: 32px;
}
.modal-this .modal-this-qrcode-size {
    width: 65px;
    height: 65px;
}
.achieve-name {
    width: 110px;
    position: absolute;
    top: 60px;
    left: 50%;
    text-align: center;
    margin-left: -55px;
    color: #FFFFFF;
    font-size: 14px;
}
.achievement-modal-box-btn-left-hidden {
    display: none;
}










