.page-team-detail {
  /* position: absolute;
  top: 0;
  left:0; */
  width: 100%;
  height: 100%;
  /* background: #FAFAFA; */
}

.page-team-detail .header {
  background: #fff;
}

.page-team-detail .header .slick-container .slick-dots{
  bottom: -15px;
}

.page-team-detail .header .team-photo {
  width: 100%;
  height: 220px;
}
/* 无星 */
.page-team-detail .header .header-addition {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-team-detail .header .header-addition .team-info{
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333333;
}

.page-team-detail .header .header-addition .team-info > span {
  margin-left: 10px;
}

.page-team-detail .header .header-addition .team-number {
  font-size: 13px;
  color: #666666;
}
/* 有星 */
.page-team-detail .header .header-addition-new{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-team-detail .header .header-addition-new .team-info{
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333333;
}
.page-team-detail .header .header-addition-new-container{
  margin-left: 10px;
}
.page-team-detail .header .header-addition-new-container .header-addition-new-container-title{
  margin-left: 10px;
  margin-bottom: 5px;
}
.page-team-detail .header .header-addition-new-container .header-addition-new-container-star{
  width: 90px;
  margin-left: 10px;
}





.page-team-detail .body {
  padding-bottom: 50px;
}

.page-team-detail .body .team-info-list {
  padding: 0 15px;
  background: #fff;
}

.page-team-detail .body .team-member {
  height: 80px;
  background: #F8F8F8;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  color: #666666;
}

.page-team-detail .body .team-member .line1px-v {
  background: #666666;
  height: 44px;
}

.page-team-detail .body .team-member .team-member-item {
  text-align: center;
}

.page-team-detail .body .team-member span {
  font-size: 24px;
  color: #333333;
}

.page-team-detail .body .team-info-list ul li {
  position: relative;
  padding: 18px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-team-detail .body .team-info-list ul li .line1px {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.page-team-detail .body .team-info-list ul li > span:first-child {
  font-size: 14px;
  color: #666666;
  margin-right: 10px;
}

.page-team-detail .body .team-info-list ul li > span:nth-child(2) {
  font-size: 14px;
  color: #333333;
}

.page-team-detail .body .team-info-list ul li a {
  flex: 1;
  background: url(/images/icon_more.png) no-repeat center right;
  background-size: 20px;
  font-size: 14px;
  color: #333333;
}

.page-team-detail .body .team-description {
  padding: 25px 15px;
  background: #fff;
  margin: 10px 0;
}

.page-team-detail .body .team-description > div {
  font-size: 15px;
  color: #333333;
  margin-bottom: 11px;
}

.page-team-detail .body .team-description > p {
  font-size: 13px;
  color: #333333;
  letter-spacing: 0;
  line-height: 20px;
}

.page-team-detail .foot {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: stretch;
  background: #fff;
  z-index: 2;
}

.page-team-detail .foot .line1px {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.page-team-detail .foot .team-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
}

.page-team-detail .foot .team-action-favorite {
  margin: 0 30px;
}

.page-team-detail .foot .team-action-share {
  margin-right: 30px;
}

.page-team-detail .foot .team-action span:first-child {
  width: 24px;
  height: 24px;
  background: no-repeat center;
  background-size: contain;
}

.page-team-detail .foot .team-action span:last-child {
  font-size: 10px;
  color: #333333;
  text-align: center;
}

.page-team-detail .foot .team-action-favorite span:first-child {
  background-image: url(/images/icon_collect.png);
}

.page-team-detail .foot .team-action-favorite span:first-child.selected {
  background-image: url(/images/icon_collect_h.png)
}

.page-team-detail .foot .team-action-share span:first-child {
  background-image: url(/images/icon_share.png);
}

.page-team-detail .foot .team-action-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.page-team-detail .foot .team-action-available {
  background: #C7EAFD;
  color: #666666;
}

.page-team-detail .foot .team-action-quit {
  background: #FBABAB;
  color: #666666;
}

.page-team-detail .foot .team-action-auditing {
  background: #FDCD89;
  color: #666666;
}

.page-team-detail .foot .team-action-full, .page-team-detail .foot .team-action-end {
  background: #666666;
  color: #ffffff;
}

.page-team-detail-render-project-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
}
..page-team-detail-render-project-container-main .component-projects{
  width: 100%;
  flex:1;
  overflow-y: scroll;
}
.page-team-detail-render-project-container-main{
  width: 100%;
  flex:1
}
.page-team-detail-render-project-container  .takeup{
  width: 100%;
  height: 50px;
}

.page-team-detail-render-project-container .tabs-container{
  height: 49px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.page-team-detail-render-project-container .tabs{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 49px;

}
.page-team-detail-render-project-container .tabs li{
  flex: 1;
  list-style: none;
  text-align: center;
}

.page-team-detail-render-project-container .tabs li a{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.page-team-detail-render-project-container .tabs li .tab-icon {
  height: 25px;
  width: 25px;
  background-size: contain;
  background-position: center;
}

.page-team-detail-render-project-container .tabs li .tab-icon-home {
  background-image: url(/images/tab_home.png);
}

.page-team-detail-render-project-container .tabs li .tab-icon-home.active {
  background-image: url(/images/tab_home_active.png);
}

.page-team-detail-render-project-container .tabs li .tab-icon-signin {
  background-image: url(/images/tab_signin.png);
}

.page-team-detail-render-project-container .tabs li .tab-icon-signin.active {
  background-image: url(/images/tab_signin_active.png);
}

.page-team-detail-render-project-container .tabs li .tab-icon-me {
  background-image: url(/images/tab_me.png);
}

.page-team-detail-render-project-container .tabs li .tab-icon-me.active {
  background-image: url(/images/tab_me_active.png);
}


.page-team-detail-render-project-container .tabs li a span {
  font-size: 10px;
  color: #333333;
}


/* tab */
.page-team-detail .component-tab > div.tab-panel:nth-last-child(1){
  position: relative;
}
.page-team-detail-community-link{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-image: url(/images/my/release.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.page-team-detail .page-circle-rendercommunity-img{
  width: 150px;
  height: 150px;
  display: block;
  margin: 110px auto 10px;
}
.page-team-detail .page-circle-rendercommunity-info{
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
/* .page-page-team-detail .tab-panel .tab-panel-show .page-circle-rendercommunity-no-info-container{
  width: 150px;
  height: 180px;
  margin:110px auto;
} */

.team-description-backhome{
  width: 70px;
  height: 38px;
  position: fixed;
  bottom: 70px;
  right: 20px;
}
.team-description-backhome a{
  display: block;
  width: 70px;
  height: 38px;
  background-image: url(/images/my/backhome.png);
  background-repeat: no-repeat;
  background-size: cover;
}