.page-sign {
  padding: 15px;
}

.page-sign .no-record {
  text-align: center;
  font-size: 13px;
  color: #666666;
}




.page-sign .no-record img {
  width: 150px;
  margin-top: 86px;
}

.page-sign .sign-btn-container {
  width: 100%;
  padding: 0 25px;
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  bottom: 100px;
  left: 0;
  right: 0;
  
}

.page-sign .sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C7EAFD;
  border-radius: 100px;
  height: 50px;
  width: 300pt;
  /* width: 300px; */
  font-size: 16px;
  color: #FFF;
}

.page-sign .sign-list li {
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 13px;
  color: #666666;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.page-sign .sign-list li .sign-header {
  padding: 12px 15px 10px;
}
.page-sign .project-title {
  font-size: 18px;
  color: #333333;
  margin-bottom: 2px;
}

.page-sign .component-sign-title{
  font-size: 16px;
  color: #4A4A4A;
  padding-bottom: 9px;

}

.page-sign .project-info{
  padding: 15px 9px 15px 12px;  
  width: 100%; 
  display: flex;
  align-items: baseline;
}

.page-sign .project-info div{
  width: 50%; 
  font-size: 13px;
  color: #666666;
}

.page-sign .project-info div.project-info-addr{
  padding-left: 30px;
  background: url(/images/icon_location.png) no-repeat;
  background-size: 24px 24px;
  background-position: left center;
}
.page-sign .project-info div.project-info-date{
  padding-left: 30px;
  background: url(/images/icon_people.png) no-repeat;
  background-size: 24px 24px;
  background-position: left center;   
}

.sign-record-status-shape{
  position: absolute;
  top:0;
  right: 0;
  width: 60px;
  height: 60px;
}
.sign-record-status-shape-ing{
  background: url(/images/activities_status_progress.png) no-repeat;
  background-size: cover;
}

.sign-record-status-shape-recru{
  background: url(/images/activities_status_recruit.png) no-repeat;
  background-size: cover;
}
.sign-record-status-shape-full{
  background: url(/images/activities_status_full.png) no-repeat;
  background-size: cover;
}
.sign-record-status-shape-end{
  background: url(/images/activities_status_end.png) no-repeat;
  background-size: cover;
}