.page-sign {
  padding: 15px;
}

.page-sign .no-record {
  text-align: center;
  font-size: 13px;
  color: #666666;
}

.page-sign .no-record img {
  width: 150px;
  margin-top: 86px;
}

.page-sign .signin-btn-container {
  width: 100%;
  padding: 0 25px;
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  bottom: 100px;
  left: 0;
  right: 0;
  
}

.page-sign .signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C7EAFD;
  border-radius: 100px;
  height: 50px;
  width: 300pt;
  /* width: 300px; */
  font-size: 16px;
  color: #FFF;
}

.page-sign .signin-list li {
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 13px;
  color: #666666;
  margin-bottom: 15px;
}

.page-sign .signin-list li .signin-header {
  padding: 15px;
}

.page-sign .signin-list li .project-info {
  padding: 15px;
  padding-right: 25px;
  background:url(/images/icon_more.png) no-repeat;
  background-position: 270px center;
  background-size: 32px;
}

.page-sign .signin-time span:last-child {
  color: #6AC6F8;
  font-size: 16px;
  margin-left: 10px;
}

.page-sign .signin-list li.signin-record .signin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.page-sign .project-title {
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
}

.page-sign .project-duration span:last-child {
  color: #6AC6F8;
  margin-left: 10px;
}

.component-sign{
  padding: 15px;
}
.component-sign .component-sign-title{
  font-size: 16px;
  color: #4A4A4A;
  padding-bottom: 15px;
}

.component-sign.no-record {
  text-align: center;
  font-size: 13px;
  color: #666666;
}

.component-sign.no-record img {
  width: 150px;
  margin-top: 86px;
}

.component-sign.signin-btn-container {
  width: 100%;
  padding: 0 25px;
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  bottom: 100px;
  left: 0;
  right: 0;
  
}

.component-sign.signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C7EAFD;
  border-radius: 100px;
  height: 50px;
  width: 300pt;
  /* width: 300px; */
  font-size: 16px;
  color: #FFF;
}

.component-sign.signin-list li {
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 13px;
  color: #666666;
  margin-bottom: 15px;
}

.component-sign.signin-list li .signin-header {
  padding: 15px;
}

.component-sign.signin-list li .project-info {
  padding: 15px;
}

.component-sign.signin-time span:last-child {
  color: #6AC6F8;
  font-size: 16px;
  margin-left: 10px;
}

.component-sign.signin-list li.signin-record .signin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-sign.signin-list li.signin-record .signin-header div:last-child {
  background: #EBD1BA;
  border-radius: 4px;
  font-size: 13px;
  color: #976C3F;
  padding: 2px 5px;
}

.component-sign.project-title {
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
}

.component-sign.project-duration span:last-child {
  color: #6AC6F8;
  margin-left: 10px;
}




.page-sign .signin-list li.signin-record .signin-header .already-sign {
  background: #A0D9F7;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  padding: 2px 5px;
}
.page-sign .signin-list li.signin-record .signin-header .wait-sign {
  background: #B5F073;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  padding: 2px 5px;
}
.page-sign .signin-list li.signin-record .signin-header .in-audit {
  background: #F0C873;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  padding: 2px 5px;
}
.page-sign .signin-list li.signin-record .signin-header .reject {
  background: #F19292;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  padding: 2px 5px;
}

