<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta name="last-build-time" content="<%= lastBuild %>">
  <!--link rel="apple-touch-icon" href="apple-touch-icon.png"-->
  <script>
    var designWidth = 375;
    var screenWidth = screen.width;
    var scale = screenWidth / designWidth;
    var meta = '<meta name="viewport" content="width=' + designWidth + ", initial-scale=" + scale + ", maximum-scale=" + scale + ", minimum-scale=" + scale + ', user-scalable=no, target-densitydpi=device-dpi, minimal-ui" >';
    document.write(meta);

    // 调试工具，url 中加入 debug 开启
    ;(function () {
        if (!/debug/.test(window.location)) return;
        var src = '/lib/eruda.min.js';
        document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
        document.write('<scr' + 'ipt>eruda.init();</scr' + 'ipt>');
    })();
  </script>
  <script src="/lib/jweixin-1.0.0.js"></script>
  <script>
    // 微信 config，类型可以是 JS Object 或者 JSON 字符串
    window.wxConfig = {}; // 或者 '{}'
    // http://api.volunteer.alpha.flashdiet.cn/api/v1
    // http://alpha.api.volunteer.tmallwo.com:8000
    window.apiHost='http://api.volunteer.alpha.flashdiet.cn';
    // window.apiHost ="http://api.volzdx.cn";

    // server 端下发 token
    window.token = null;
    window.orgInfo = {
        "name": "机构1",
        "logo": "",
        "module_settings": [
            [
                {
                    "label": "志愿团队",
                    "key": "volunteer_team",
                    "icon": "http://alpha.api.volunteer.tmallwo.com/image/uploads/2017-10/848611507952464.png"
                },
                {
                    "label": "志愿项目",
                    "key": "volunteer_project",
                    "icon": "http://alpha.api.volunteer.tmallwo.com/image/uploads/2017-10/999161507952198.png"
                },
                {
                    "label": "shop",
                    "key": "volunteer_feedback",
                    "icon": "http://alpha.api.volunteer.tmallwo.com/image/uploads/2017-10/918461507952580.png"
                }
            ],
            [
                {
                    "label": "志愿回馈",
                    "key": "good_example",
                    "icon": "http://alpha.api.volunteer.tmallwo.com/image/uploads/2017-10/323921507952861.png"
                },
                {
                    "label": "项目认领",
                    "key": "claim_project",
                    "icon": "http://alpha.api.volunteer.tmallwo.com/image/uploads/2017-10/942591507952733.png"
                },
                {
                    "label": "服务中心",
                    "key": "help_center",
                    "icon": "http://alpha.api.volunteer.tmallwo.com/image/uploads/2017-10/583531507952882.png"
                },
            ]
        ],
        'org_info':"<p>Test 123</p>",
        'org_manual':"<p>Test 234</p>",
        'org_service':"<p>Test 567</p>",
        'org_service_tel':"13111111111",
        'real_name_register':1,
        'custom_config': {
                             "open_real_name": 0,
                             "open_avatars": 0,
                             "open_id_number": 1,
                             "open_nation": 0,
                             "open_addr": 0,
                             "extends":[
                                 {
                                     "key": "test1",
                                     "label":"职业",
                                     "type":1,
                                     "options":"老师老师老师老师老师老师老师老师老师老师老师,医生,律师",
                                     "is_required": 1,
                                 },
                                 {
                                     "key": "test2",
                                     "label":"功能",
                                     "type":1,
                                     "options":"老1师,医2生,律3师",
                                     "is_required": 1,
                                 },
                                 {
                                     "key": "test3",
                                     "label":"功能1",
                                     "type":2,
                                     "options":"老师,医生,律师",
                                     "is_required": 0,
                                 },
                                 {
                                     "key": "test4",
                                     "label":"功能2",
                                     "type":2,
                                     "options":"老1师,医2生,律3师",
                                     "is_required": 1,
                                 },
                                 {
                                     "key": "test5",
                                     "label":"单行1",
                                     "type":3,
                                     "options":null,
                                     "is_required": 0,
                                 },
                                 {
                                     "key": "test6",
                                     "label":"单行2",
                                     "type":3,
                                     "options":null,
                                     "is_required": 1,
                                 },
                                 {
                                     "key": "test7",
                                     "label":"多行1",
                                     "type":4,
                                     "options":null,
                                     "is_required": 0,
                                 },
                                 {
                                     "key": "test8",
                                     "label":"多行2",
                                     "type":4,
                                     "options":null,
                                     "is_required": 1,
                                 },
                                 {
                                     "key": "test9",
                                     "label":"修改成测试上传图片2",
                                     "type":5,
                                     "options":null,
                                     "is_required": 0,
                                 },
                                 {
                                     "key": "test10",
                                     "label":"修改成测试上传图片2",
                                     "type":5,
                                     "options":null,
                                     "is_required": 0,
                                 },
                                 {
                                     "key": "test11",
                                     "label":"日期1",
                                     "type":6,
                                     "options":null,
                                     "is_required": 0,
                                 },
                                 {
                                     "key": "test12",
                                     "label":"日期2",
                                     "type":6,
                                     "options":null,
                                     "is_required": 1,
                                 },
                                 {
                                     "key": "test13",
                                     "label":"日期时间1",
                                     "type":7,
                                     "options":null,
                                     "is_required": 0,
                                 },
                                 {
                                     "key": "test14",
                                     "label":"日期时间2",
                                     "type":7,
                                     "options":null,
                                     "is_required": 1,
                                 }

                             ],
                         }

    }
    // VolejRejNm
    // qM7e5Ba2vp
    window.orgCode = 'VolejRejNm';
    // joQeZJepZV
    window.serviceCategory = ['赛事服务', '应急救援', '城市运⾏', '文化教育', '关爱服务', '社区服务', '医疗卫⽣', '绿⾊环保', '在线志愿服务', '国际服务', '其他'];
    window.serviceTarget = ['⼉童', '⻘少年', '孤寡⽼⼈', '残障⼈⼠', '优抚对象', '特困群体', '其他'];
    // server 下发的个人擅长, 用于用户资料填写
    window.goodAt = ["关爱服务","国际服务","社区服务","应急救援","赛事服务","医疗卫生","绿色环保","文化倡导","教育","助残","助老","其他"];
    // server 下发的服务类型,可用于过滤等
    window.teamCategory = ["党政机关","教育事业单位","卫生事业单位","科技事业单位","文化事业单位","社会福利利事业单位","其他事业单位","群团组织","居委会或村委会","国有企业","民营企业","社会团体","社会服务机构","基金会"];
    if (window.wxConfig) {
      try{
        // setTimeout(function () {
        if (typeof window.wxConfig === 'string') {
            window.wxConfig = JSON.parse(window.wxConfig);
            }
            window.wx.config(wxConfig);
        // }, 500);
        
      }
      catch(e) {
        alert(e);
      }
    }

    document.title = window.orgInfo.name;

    window.dev = true;
  </script>
</head>

<body>
  <div id="container">
  </div>
  <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=GT7BZ-UXACR-R2JWZ-WYSXR-DHWJV-VEFAI"></script>
  <script src="<%= bundle %>"></script>
</body>

</html>
