.page-starmodel-detail{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.page-starmodel-detail-descript{
  padding-top: 5px;
}
.page-starmodel-detail-info{
  font-size: 15px;
  color: #333333;
  letter-spacing: 0;
  line-height: 15px;
  padding: 10px 0;
  font-weight: 500;
}
