.component-teams {
  padding: 0 15px;
}

.component-teams li {

}

.component-teams li > a {
  display: flex;
  align-items: stretch;
  padding: 20px 0 19px;
}


.component-teams li > a > .team-name-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 15px;
}

.component-teams li .team-name {
  font-size: 18px;
  color: #333333;
  display: flex;
  justify-content: space-between;
}

.component-teams li .team-info {
  height: 20px;
  font-size: 13px;
  color: #666666;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.component-teams li .team-info span:first-child {
  background: url(/images/icon_duration.png) no-repeat left center;
  background-size: 24px;
  padding-left: 30px;
}

.component-teams li .team-info span:last-child {
  background: url(/images/icon_people.png) no-repeat left center;
  background-size: 24px;
  padding-left: 30px;
}
.team-main-top-state{
  width: 50px;
  height: 20px;
  background: #FED9A4;
  border-radius: 4px;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
}
.team-main-top-state-visiblehidden{
  visibility: hidden;
}
.team-main-top-state-hidden-{
  display: hidden;
}
.team-name-content{
  width: 199px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;

}
.teams-empty-tip{
  padding: 20px;
  text-align: center;
  color: #999;
  font-size: 14px;
  background: #fff;
  font-weight: 200;
}
.team-name-star{
  width: 90px;
  padding-top: 3px;
  padding-bottom: 4px;
}