.page-shop-goods-main-container{
    position: relative;
    width: 100%;
}
.page-shop-goods-main-container .slick-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 210px;
  }
  
.page-shop-goods-main-container .slick-container-empty {
    background: url(/images/my/banner.png) no-repeat top left;
    background-size: cover;
    background-position: center;
}


  
.page-shop-goods-main-container .slick-container .image{
    width: 100%;
    height: 210px;
}
  
 .page-shop-goods-content-container{
    /* padding: 20px 15px 18px; */
     width: 100%;

 }
 .page-shop-goods-content-top{
     padding: 20px 15px 0;
     width: 100%;
 }
 .page-shop-goods-content-line{
    background: #F4F4F4;
    height: 10px;
    width: 100%;
}
.page-shop-goods-content-bottom{
    padding: 24px 15px;
}

.page-shop-goods-content-top-title{
    font-size: 20px;
    color: #484848;
    font-weight: 500;
    margin-bottom: 17px;
}
.page-shop-goods-content-top-price-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 12px;
}
.page-shop-goods-content-top-price-container .price-container{
    display: flex;
    align-items: baseline;
}
.page-shop-goods-content-top-price-container .price-container .price{
    font-size: 14px;
    color: #484848;
}
.page-shop-goods-content-top-price-container .price-container .price span{
    font-size: 19px;
    color: #6AC6F8;
    padding-right: 5px;
}
.page-shop-goods-content-top-price-container .price-container .now{
    font-size: 14px;
    color: #F8BE1C;
    text-decoration:  line-through;
    margin-left: 15px;
}
.page-shop-goods-content-top-price-container .num{
    font-size: 14px;
    color: #484848;
}
.page-shop-goods-content-top-condition{
    font-size: 13px;
    color: #999999;
    margin-bottom: 15px;
}
.page-shop-goods-content-top-date{
    font-size: 15px;
    color: #484848;
    padding: 15px 0;
}
.page-shop-goods-content-bottom .title{
    font-size: 15px;
    font-weight: 600;
    color: #666666;
    margin-bottom: 12px;
}
.page-shop-goods-content-bottom .content{
    width: 100%;
    overflow: hidden;
}
.page-shop-goods-content-bottom .content *{
    max-width: 100%!important;
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    word-wrap: break-word!important;

}
  /* .page-shop-goods-content-bottom .content img{
    max-width: 100%!important;
    display: block;
    margin: 0 auto;
  } */
  .page-shop-goods-takeup{
    height: 50px;
    width: 100%;
  }
  .page-shop-goods-main-btn{
      position: fixed;
      bottom: 0;
      left: 0;
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #C7EAFD;
      font-size: 16px;
      font-weight: 600;
      color: #666666;
  }
  .page-shop-goods-main-btn-end{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #666666;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
  }