.components-community-item-container{
  background:#fff;
  display: flex;
  flex-direction: column;
}
.components-community-item{
  display: flex;
  padding:16px 15px 0;
}
.components-community-item-avatar{
  margin-right: 10px;
}
.components-community-item-main{
  width: 100%;
}
.components-community-item-name{
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.components-community-item-content-style{
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 20px;
  width: 100%;
}
.components-community-item-content-on{

}
.components-community-item-content-style-off{
  overflow: hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:6;
  max-height: 120px;

}
.components-community-item-content-btn{
  font-size: 16px;
  color: #6AC6F8;
  letter-spacing: 0;
  line-height: 16px;
  margin:10px 0 15px;
}
.components-community-item-photo-area{
  width: 246px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.components-community-item-photo-area li{
  display: flex;
}
.components-community-item-photo-area-li-single{
  width: 208px;
  height: 208px;
}
.components-community-item-photo-area-single{
  width: 200px;
  height: 200px;
}
.components-community-item-photo-area-li-several{
  width: 82px;
  height: 82px;
}
.components-community-item-photo-area-several{
  width: 74px;
  height: 74px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.components-community-item-footer{
  margin-top: 8px;
  display: flex;
}
.components-community-item-footer-time{
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 13px;
}
.components-community-item-footer-del{
  font-size: 13px;
  color: #6AC6F8;
  letter-spacing: 0;
  line-height: 13px;
}
.components-community-item-business-container{
  font-size: 13px;
  color: #6AC6F8;
  letter-spacing: 0;
  line-height: 13px;
}
