.page-home {
  width: 100%;
  height: 100%;
}

.page-home .page-home-header {
  position: relative;
}

.page-home .slick-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 264px;
}

.page-project-detail .slick-container-empty {
  background: url(/images/default_banner.png) no-repeat top left;
  background-size: cover;
  background-position: center;
}

.page-home .slick-container .image{
  width: 100%;
  height: 264px;
}

.page-home .slick-dots {
  position: absolute;
  bottom: 10px;
}

.page-home .header-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 62px;
  z-index: 1;
  font-weight: 300;
}

.page-home .header-bar .city-name {
  width: 64px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  opacity: .75;
  background: #333333;
  border-radius: 14px;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}

.page-home .header-bar .login-button {
  width: 64px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  opacity: .95;
  background: #FFFFFF;
  border-radius: 14px;
  color: #333333;
  font-size: 14px;
  border: 1px solid #E5E5E5;
}
.page-home .header-bar .login-button-img {
  width: 64px;
  height: 28px;
  padding: 0 18px;

}
.page-home .header-bar .avatar {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}
.page-home-feedback-show-container{
  width: 100%;

  display: flex;
  flex-direction: reverse;
  justify-content: space-around;
  padding: 12px;
  background-color: #fff;
  align-content:center;
}
.page-home-feedback-show-container a{
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.page-home-feedback-show-container a img{
  width: 100%;
  height: 100%;
}
.page-home .menus-activity {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.page-home .menus-activity a{
  width: 110px;
  height: 80px;
  margin-right: 10px;
  overflow: hidden;
}

.page-home .menus-activity a:last-child {
  margin-right: 0;
}

.page-home .menus-activity a img {
  width: 100%;
  height: 100%;
}

.page-home .project-list {

}

.page-home .project-list .list-header {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 58px;
  justify-content: center;
  align-items: center;
}

.page-home .project-list .list-header .main-label{
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-home .project-list .list-header .main-label span {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 15px;
  margin: 0 10px;
}

.page-home .project-list .list-header .main-label .label-line {
  height: 1px;
  width: 40px;
  background: #E5E5E5;
  transform: scaleY(0.5);
}

.page-home .project-list .list-header .sub-label {
  font-size: 10px;
  color: #999;
  letter-spacing: 0;
  transform: scale(0.8);
  font-weight: 100;
}

.page-home .project-list .line1px {
  height: 1px;
  background: #E5E5E5;
  transform: scaleY(0.5);
}

.page-home .project-list > ul li {
  background: #fff;
}
.page-home-feedback-show-totle-box{
  width: 100%;
  padding:10px 0;
}


.page-home .notice{
  width: 100%;
  height: 44px;
  background: #fff;
  padding-left: 59px;
  background-image: url(/images/newtitle.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 20px center;
  display: flex;
  align-items: center;
}
.page-home .notice a{
  display: flex;
  align-items: center;
  flex:1;
  width: 100%;
  height: 44px;
}