.page-introduce{
  width: 100%;
  height: 100%;
  padding: 40px 15px 18px;
}
.page-introduce-title{
  font-size: 16px;
  color: #333333;
  margin-bottom: 15px;

}
.page-introduce-subtitle{
  font-size: 20px;
  color: #333333;
  line-height: 28px;
  width: 100%;
  text-align: center;
}
.page-introduce-content{
  font-size: 15px;
  color: #333333;
  letter-spacing: 0;
  line-height: 28px;
  text-indent: 2em;
}
.page-introduce-take-up{
  margin-bottom: 27px;
}
.page-intoduce-bussiness{
 text-align: right;
}
