.page-register{
  padding: 30px 37px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.page-register-photo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(/images/my/register.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}
.page-register-photo-img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
}
.page-register-photo-fonts{
  font-size: 13px;
  color: #999999;
  margin-bottom: 13px;
}
.page-register-item{
  width: 295px;
  height: 49px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-register-fonts{
  display: block;
  width: 62px;
  font-size: 15px;
  color: #999999;
  margin-right: 15px;
}
.page-register-input{
  width: 151px;
  height: 49px;
  line-height: 49px;
  display: block;
  font-size: 15px;
  color: #333333;
  outline: none;
}
.page-register-code{
  font-size: 13px;
  color: #6AC6F8;
  width: 65px;
  text-align: center;
}
.page-register-submmit{
  width: 300px;
  height: 50px;
  background: #C7EAFD;
  border-radius: 100px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: #666666;
  margin-top: 41px;
}
.page-register-agree{
  margin-top: 18px;
  height: 14px;
  font-size: 13px;
  color: #999999;
  display: flex;
  align-items: center;
}
.page-register-agreement{
  font-size: 13px;
  color: #6ac6f8;
}
.page-register-photo-container{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}
.page-register-uploader-btn{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.page-register-checkbox{
  outline: none;
}
.page-register-code{
  height: 30px;
  line-height: 30px;
}
