.page-certificate-bg{
  width: 100%;
  height: 100%;
  background: #6AC6F8;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-certificate-main-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.page-certificate-container-certificate{
  width: 102px;
  height: 102px;
  background-image:url(/images/my/certification.png);
  background-size: cover;
  position: absolute;
  top: 80px;
  right: 27px;
}
.page-certificate-container-border{
  width: 357px;
  height: 582px;
  background-image:url(/images/my/certificate-bg.png);
  background-size: 335px 560px;
  background-position: center;
  background-color: #fff;
  padding:18px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.page-certificate-container-title{
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  margin-top: 35px;
  margin-bottom: 37px;
}
.page-certificate-container-name{
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  margin-top: 10px;
  text-align: center;
  line-height: 19px;
  min-width: 80px;
  height: 19px;
  font-weight: 200;
}
.page-certificate-container-star{
  margin-top: 10px;
}
.page-certificate-container-content{
  width: 100%;
  margin-top: 11px;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 17px;
  font-weight: 200;
  padding-left: 15px;
  padding-right:8px;
}
.page-certificate-container-hours-box{
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: space-around;
  margin-top: 49px;
  margin-bottom: 58px;

}
.page-certificate-container-hours-box div{
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  font-weight: 200;
}
.page-certificate-container-hours{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-certificate-container-hours-item{
  text-align: center;

}
.page-certificate-container-hours-item span{
  font-size: 24px;
  color: #6AC6F8;
  font-weight: 300;
}
.page-certificate-container-bussiness{
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  font-weight: 200;
}
.page-certificate-container-teachsupport{
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  font-weight: 200;
  margin-top: 10px;
}
.page-certificate-container-bottom-infobox{
  position: relative;
}
.page-certificate-container-bottom-infobox img{
  width: 80px;
  position: absolute;
  
}
.page-certificate-container-bottom-infobox img.first{
  top: -22px;
  right: 32px;
}
.page-certificate-container-bottom-infobox img.second{
  top: -22px;
  right: -48px;
}