.page-shop-main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  
.page-shop-main-container  .page-shop-main-header{
    padding: 0 20px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
 }
 .page-shop-main-container  .page-shop-main-header .left{
    height: 32px;
    line-height: 32px;
    padding-left: 37px;
    background: url(/images/shop/star.png) no-repeat;
    background-size:32px 32px;
    background-position: 2px center;
    font-size: 15px;
    color: #484848;
 }
 .page-shop-main-container  .page-shop-main-header .left span{
    font-size: 16px;
    color: #6AC6F8;
    padding-left: 10px;
 }
 .page-shop-main-container  .page-shop-main-header .left .redfonts{
    color: red;
 }
 .page-shop-main-container  .page-shop-main-header .right{
    width: 85px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #6AC6F8;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #6AC6F8;
}
.page-shop-content-header{
    flex:1;
    width: 100%;
    overflow-y: scroll;
}
.page-shop-content-header .slick-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 150px;
  }
  
.page-shop-content-header .slick-container-empty {
    background: url(/images/my/banner.png) no-repeat top left;
    background-size: cover;
    background-position: center;
}


  
.page-shop-content-header .slick-container .image{
    width: 100%;
    height: 150px;
}
  

 .page-shop-backhome{
    width: 70px;
    height: 38px;
    position: fixed;
    bottom: 25px;
    right: 20px;
  }
  .page-shop-backhome a{
    display: block;
    width: 70px;
    height: 38px;
    background-image: url(/images/my/backhome.png);
    background-repeat: no-repeat;
    background-size: cover;
  }