.page-applys-item-container{
  width: 100%;
  padding: 20px 15px 0px 15px;
}
.page-applys-item-title{
  font-size: 18px;
  color: #333333;
  margin-bottom: 8px;
  width: 100%;

}
.page-applys-item-date-box{
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.page-applys-item-date{
  font-size: 14px;
  color: #666666;
}
.page-applys-item-date span{
  color: #6AC6F8;
}

.page-applys-item-content-wait{
  width: 50px;
  height: 20px;
  border-radius: 4px;
  background: #FED9A4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-applys-item-content-wait:before{

  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  content: '待审核';
}


.page-applys-item-content-reject{
  width: 50px;
  height: 20px;
  border-radius: 4px;
  background: #FBABAB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-applys-item-content-reject:before{

  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  content: '被驳回';
}

.page-applys-item-content-pass{
  width: 50px;
  height: 20px;
  border-radius: 4px;
  background:  #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-applys-item-content-pass:before{

  font-size: 13px;
  color: #999999;
  letter-spacing: 0;
  content: '已通过';
}
.projects-empty-tip{
  width: 100%;
  text-align: center;
}
