.page-ponit{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page-ponit-pic-container{

  width: 100%;
  height: 160px;
  background: url(/images/collectibles.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-ponit-pic-title{
    text-align: center;
  height: 82px;
  margin: auto;
}
.page-ponit-pic-title span:nth-child(1){
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  display: block;
}
.page-ponit-pic-title span:nth-child(2){
  font-size: 36px;
  color: #FFFFFF;
  line-height: 36px;
  display: block;
  margin-top: 25px;
  text-align: center;
}


.page-ponit-tab-container{
  width: 100%;
  height: 50px;
  display: flex;
  overflow: hidden;
}

.page-ponit-tab-container-li{
  flex:1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-ponit-tab-container-line-v{
  height: 30px;
  margin-top: 10px;
}
.page-ponit-tab-container-li-current{
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  color: #666666;
}
.page-ponit-tab-container-li-current.active{
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  color: #6AC6F8;
}
.page-point-income-pay-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page-point-income-pay-title{
  padding:0 20px;
  height: 28px;
  background: #F8F8F8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.commonweal-box {
    position: relative;
    padding: 24px 29px;
}
.commonweal-box-close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -9px;
    right: 9px;
}
.commonweal-box-close img {
    width: 100%;
    height: 100%;
}
.page-ponit-content{
  width: 100%;
  height: 100%;
  flex: 1;
  overflow:hidden;
}
.page-point-income-pay-title > span{
  display: block;
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
}

.page-point-income-pay-main-contain{
  flex: 1;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.page-point-income-pay-main-empty{
  display: flex;
  padding-top: 20px;
  font-size: 14px;
  color: #666;
  justify-content: center;
}

.modal-new-wrap-container-padding {
    border-radius: 0;
}
.commonweal-box-instruction-how {
    font-family: PingFangSC-Semibold;
    font-size: 17px;
    color: #262A35;
    text-align: left;
}
.commonweal-box-instruction-list {
    font-family: PingFangSC-Semibold;
    font-size: 11px;
    color: #9B9B9B;
    text-align: left;
    margin-bottom: 15px;
}
.commonweal-box-instruction-table {
    ont-family: PingFangSC-Medium;
    font-size: 12.04px;
    color: rgba(0,0,0,0.85);
    text-align: left;
}
.commonweal-box-instruction-table table {
    width: 100%;
    background: #FFFFFF;
}
.commonweal-box-instruction-table table thead {
    font-family: PingFangSC-Medium;
    font-size: 12.04px;
    color: rgba(0,0,0,0.85);
}
.commonweal-box-instruction-table table tbody {
    font-family: PingFangSC-Regular;
    font-size: 12.04px;
    color: rgba(0,0,0,0.65);
}
table{
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    padding: 6.7px 6.7px;
}
.commonweal-box-instruction-btn {
    margin-top: 28px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #A0D9F7;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
}
.checkScoreMethod {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}
