.page-select-city-container-header{
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 15px;
  color: #666666;
  letter-spacing: 0;
  line-height: 14px;
}
.page-select-city-container-header span:nth-child(1){
  padding: 0 5px;
}
.page-select-city-container-header span:nth-child(2){
  padding: 0 5px;
}
.page-select-city-container-style{
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 15px;
  color: #333333;
  letter-spacing: 0;
  line-height: 15px;
}
