.component-menus {
  background: #fff;
  padding: 15px 0;
}

.component-menus li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.component-menus li:last-child {
  margin-bottom: 0;
}

.component-menus a {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component-menus a .menu-icon {
  height: 35px;
  width: 35px;
  background-size: contain;
  background-position: center;
}

.component-menus a span {
  font-size: 12px;
  color: #333333;
  line-height: 14px;
  margin-top: 5px;
}
