

body {
    /* background-color: #F8F8F8; */
}

.project-list {
    background-color: #F8F8F8;
}

.detailRichText {
    max-width: 100%!important;
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    word-wrap: break-word!important;
}