
.component-point-item-income{
  width: 100%;
  height: 44px;
  padding: 0 24px 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.component-point-item{
  width: 100%;
  height: 44px;
  padding: 0 24px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component-point-item span ,.component-point-item-income span{
  font-size: 15px;
 letter-spacing: 0;
}
.component-point-item-income span:nth-child(1){
  display: block;
  width: 120px;
  margin-right: 10px;
  color: #333333;
}
.component-point-item-income span:nth-child(2){
  display: block;
  width: 80px;
  margin-right: 98px;
  color: #333333;
}
.component-point-item-income span:nth-child(3){
  display: block;
  color: #6AC6F8;
}

.component-point-item span:nth-child(1){

  color: #333333;
}
.component-point-item span:nth-child(2){

  color: #FDCD89;
}
