.page-duration-item-container{
  width: 100%;
  overflow: hidden;
}
.page-duration-item-container-main{
  margin-top: 10px;
  width: 100%;
  background: #fff;
}
.page-duration-item-container-main-top{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding:15px;
}
.page-duration-item-container-main-top-title{
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
}
.page-duration-item-container-main-top-date-box{
  width: 100%;
  height: 24px;
  margin-bottom: 8px;
  font-size: 13px;
  color: #666666;
  display: flex;
  flex-direction: reverse;
  align-items: center;
}
.page-duration-item-container-main-top-date-icon{
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: contain;
}
.page-duration-item-container-main-top-date-icon-date{
  background-image: url(/images/my/dates.png);
}
.page-duration-item-container-main-top-date-icon-addr{
  background-image: url(/images/icon_location.png);
}
.page-duration-item-container-main-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  flex-direction: reverse;
}
.page-duration-item-container-main-bottom-logo-box{
  display: flex;
  flex-direction: reverse;
  justify-content: center;
  align-items: center;
  height: 30px;

}
.page-duration-item-container-main-bottom-logo{
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-image: url(/images/icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 15px;
  color: #333333;
  margin-right: 10px;
}
.page-duration-item-container-main-bottom-logo img{
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.page-duration-item-container-main-bottom-date-box{
  font-size: 13px;
  color: #666666;
}
.page-duration-item-container-main-bottom-date-box span{
  color: #6AC6F8;
  font-size: 15px;
}
