.component-ensure-container{
  width: 100%;
  padding: 20px 15px 0px;
  display: flex;
  flex-direction: reverse;

}
.component-ensure-container-pic{
  width: 100px;
  height: 100px;
  margin-right: 12px;
}
.component-ensure-info-container{
  display: flex;
  flex-direction: column;
}
.component-ensure-info-title{
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.33px;
  line-height: 20px;
  font-weight: 400;
  width: 240px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;

}
.component-ensure-info-desc{
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
  width: 240px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}
.component-ensure-info-container-main{
  height: 75px;
}
.component-ensure-info-ptice-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline ;
}
.component-ensure-info-ptice-now{
  font-size: 13px;
  color: #FCBC62;
  letter-spacing: 0;
  line-height: 16px;
}
.component-ensure-info-ptice-now i{
  font-size: 20px;
  font-style: normal;
}
.component-ensure-info-ptice-container a{
  width: 75px;
  height: 25px;
  border: 1px solid #C7EAFD;
  border-radius: 100px;
  font-size: 13px;
  color: #6AC6F8;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
}
