
.component-page-starmodel-top-avatar{
  margin-right: 15px;
}
.component-page-starmodel-top-info-title{
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
.component-page-starmodel-top-info-more{
  display: block;
  width: 8px;
  height: 8px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  transform:rotate(-45deg);
}
.component-page-starmodel-top-info-status{
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 12px;
}
.component-page-starmodel-top-main{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.component-page-starmodel-top{
  display: flex;
  padding: 15px 0;
}
