.page-ensure-header-pic{
  height: 150px;
}
.page-ensure .slick-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 150px;
}

.page-ensure .slick-container-empty {
  background: url(/images/default_banner.png) no-repeat top left;
  background-size: cover;
  background-position: center;
}

.page-ensure .slick-container .image{
  width: 100%;
  height: 150px;
}

.page-ensure .slick-dots {
  position: absolute;
  bottom: 10px;
}
