.page-funding-application-item-picker .am-list-item .am-list-line .am-list-extra{
    color: #000;
}
.page-funding-application-item-picker .am-textarea-control textarea {
    color: #000;
}
.page-funding-application .page-funding-application-item-picker .am-list-header {
    color: #000;
}
