.page-forget{
  padding: 30px 37px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-forget-item{
  width: 295px;
  height: 49px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-forget-item label{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-forget-fonts{
  display: block;
  width: 62px;
  font-size: 15px;
  color: #999999;
  margin-right: 15px;
  height: 49px;
  line-height: 49px;
}
.page-forget-input{
  width: 98px;
  font-size: 15px;
  color: #333333;
  outline: none;
  display: block;
  height: 49px;
  display: block;
  flex: 1;
}
.page-forget-code{
  font-size: 13px;
  color: #6AC6F8;
  padding: 18px 12px;
}
.page-forget-submmit{
  width: 300px;
  height: 50px;
  background: #C7EAFD;
  border-radius: 100px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: #666666;
  margin-top: 41px;
}
.page-forget-top{
  font-size: 20px;
  color: #333333;
  width: 295px;
  margin-bottom: 23px;
  font-weight: 800;
}
