.component-avatar-size-cover{
  background-repeat: cover;
}
.component-avatar-postition-center{
  background-position: center;
}
.component-avatar-norepeat{
  background-repeat: no-repeat;
}
.component-avatar-shape{
  border-radius: 50%;
}
