.page-team-list {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column; */
}
.page-team-list .project-filter-container {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 1;
}
.page-team-list .search-bar-container {
  height: 44px;
  padding: 6px 15px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.page-team-list  .takeup{
  width: 100%;
  height: 50px;
}
.page-team-list .body{
  position: relative;
  padding-top: 45px;

}

.page-team-list .tabs-container{
  height: 49px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.page-team-list .tabs{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 49px;

}
.page-team-list .tabs li{
  flex: 1;
  list-style: none;
  text-align: center;
}

.page-team-list .tabs li a{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.page-team-list .tabs li .tab-icon {
  height: 25px;
  width: 25px;
  background-size: contain;
  background-position: center;
}

.page-team-list .tabs li .tab-icon-home {
  background-image: url(/images/tab_home.png);
}

.page-team-list .tabs li .tab-icon-home.active {
  background-image: url(/images/tab_home_active.png);
}

.page-team-list .tabs li .tab-icon-signin {
  background-image: url(/images/tab_signin.png);
}

.page-team-list .tabs li .tab-icon-signin.active {
  background-image: url(/images/tab_signin_active.png);
}

.page-team-list .tabs li .tab-icon-me {
  background-image: url(/images/tab_me.png);
}

.page-team-list .tabs li .tab-icon-me.active {
  background-image: url(/images/tab_me_active.png);
}


.page-team-list .tabs li a span {
  font-size: 10px;
  color: #333333;
}
