.content{
  padding: 0;
}
.page-my{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.page-my-top{
  padding: 15px 15px 0;
}
.page-my-item-container li{
  list-style: none;
}

.page-my-header{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 20px;
}
.page-my-header-setting{
  width: 24px;
  height: 24px;
  background-image: url(/images/my/setting.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.page-my-header-messages-container{
  width: 24px;
  height: 24px;
  background-image: url(/images/my/news.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.page-my-header-messages-red-point{
  display:block;
  width: 8px;
  height: 8px;
  background-color: #fa3434;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: 0px;
}

.page-my-photo-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.page-my-photo-background{
  width: 80px;
  height: 80px;
  background-image: url(/images/my/register.png);
  background-color: #ccc;
  margin-right: 15px;
  background-size: cover;
  /* box-shadow: 0 2px 8px 0 rgba(192,192,192,0.50); */
  border-radius: 8px;

}
.page-my-photo{
  width: 80px;
  height: 80px;
  border-radius: 8px;
}
.page-my-user-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-my-user-info-nick{
  font-size: 22px;
  color: #333333;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.page-my-user-info-signature{
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 14px;
}

.page-my-record-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.page-my-record-item{
  width: 52px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.page-my-record-item-top{
  text-align: center;
  font-size: 13px;
  color: #151515;
  letter-spacing: 0;
  line-height: 14px;
}
.page-my-record-item-num{
  font-size: 20px;
  color: #333333;
  letter-spacing: 0;
  line-height: 14px;
}
.page-my-record-item-bottom{
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 14px;
}
.page-my-line{
  height: 9px;
  background: #F8F8F8;
}
.page-my-item-container-padding{
  padding:0 15px;
}
.page-my-item-container li a{
  display: flex;
  justify-content: space-between;
  color: #333;
  font-size: 16px;
  height: 64px;
  align-items:center;
}
.page-my-item-container li:last-child a{
  border:none;
}
.page-my-item-icon{
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 15px;
}
.page-my-item-big{
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/images/my/more.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.page-my-item-box{
  display: flex;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  color: #333333;
}
.page-my-item-icon-data{
  background-image: url(/images/my/data.png)
}
.page-my-item-icon-certificate{
  background-image: url(/images/my/certificate.png)
}
.page-my-item-icon-family{
  background-image: url(/images/my/family.png)
}
.page-my-item-icon-like{
  background-image: url(/images/my/like.png)
}
.page-my-item-icon-service{
  background-image: url(/images/my/service.png)
}
.page-my-item-icon-data{
  background-image: url(/images/my/data.png)
}
