.page-my{
    padding: 20px;
}
.page-my-item-container li{
  list-style: none;
}

.page-my-header{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.page-my-header-setting{
  width: 20px;
  height: 20px;
}
.page-my-header-messages-container{
  width: 20px;
  height: 20px;
  background-image: url(/images/my/my_header_setting.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.page-my-header-messages-red-point{
  width: 8px;
  height: 8px;
  background-color: #fa3434;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -2px;
  text-indent: -9999px;
  color: transparent;
  font-size: 0px;
}

.page-my-photo-container{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.page-my-photo-background{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  /* background-image: url(''); */
  background-color: #ccc;
  margin-right: 16px;

}
.page-my-photo{
  width: 80px;
  height: 80px;
  border-radius:5px;
}
.page-my-user-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.page-my-user-info-nick{
  font-size: 20px;
  color: #000;
}
.page-my-user-info-signature{
  font-size: 14px;
  color:#7a7a7a;
}

.page-my-record-container{
  display: flex;
  justify-content: space-around;
}
.page-my-record-item-top{
  text-align: center;
  font-size: 12px;
  color: #acacac;
}
.page-my-record-item-num{
  font-size: 15px;
  color: #000;
}
.page-my-record-item-bottom{
  font-size: 12px;
  color: #858585;
}

.page-my-item-container li a{
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 16px;
  height: 40px;
  align-items:center;
  border-bottom: 1px solid #ccc;
}
.page-my-item-container li:last-child a{
  border:none;
}
.page-my-item-icon{
  width: 20px;
  height: 20px;
  font-size: 0;
  color:transparent;
  background-image: url(/images/my/my_header_setting.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.page-my-item-big{
  font-size: 24px;
}
