.page-my{
    padding: 20px;
}
.page-my-item-container li{
  list-style: none;
}
.page-my-header{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.page-my-header-setting{
  width: 20px;
  height: 20px;
}
.page-my-header-messages-container{
  width: 20px;
  height: 20px;
  background-image: url(/images/my/my_header_setting.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.page-my-header-messages-red-point{
  width: 8px;
  height: 8px;
  background-color: #fa3434;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -2px;
  text-indent: -9999px;
  color: transparent;
  font-size: 0px;
}
.page-my-photo-container{
  width: 100%;
}
