.page-sign-class {
  padding: 15px;
}

.page-sign-class .no-record {
  text-align: center;
  font-size: 13px;
  color: #666666;
}




.page-sign-class .no-record img {
  width: 150px;
  margin-top: 86px;
}

.page-sign-class .sign-btn-container {
  width: 100%;
  padding: 0 25px;
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  bottom: 100px;
  left: 0;
  right: 0;
  
}

.page-sign-class .sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C7EAFD;
  border-radius: 100px;
  height: 50px;
  width: 300pt;
  /* width: 300px; */
  font-size: 16px;
  color: #FFF;
}

.page-sign-class .sign-list li {
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 13px;
  color: #666666;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.page-sign-class .sign-list li .sign-header {
  padding: 12px 15px 10px;
}
.page-sign-class .project-title {
  font-size: 18px;
  color: #333333;
  margin-bottom: 2px;
}

.page-sign-class .component-sign-class-title{
  font-size: 16px;
  color: #4A4A4A;
  padding-bottom: 9px;

}

.page-sign-class .project-info{
  padding: 15px 39px 15px 12px;  
  width: 100%; 
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: url(/images/icon_more.png) no-repeat;
  background-size: 24px 24px;
  background-position: 314px center;
}

.page-sign-class .project-info-time{
font-size: 13px;
color: #666666;
}
.page-sign-class  .project-info-time-shape{
  font-size: 13px;
  color: #FFFFFF;
  width: 50px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
}
.page-sign-class  .project-info-time-wait{
background: #B5F073;

}