.components-announcement-container{
    width:280px;
    height: 18px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.components-announcement-container .my-carousel  .v-item{
    width:280px;
    height: 18px;
    line-height:18px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
    font-size: 14px;
    color: #6AC6F8;
}
.components-announcement-empty-tip {
  padding: 20px;
  text-align: center;
  color: #999;
  font-size: 14px;
  background: #fff;
  font-weight: 200;
  min-height: 300px;
}
.components-announcement-empty-tip-legend{
  text-align: center;
  font-size: 14px;
    color: #FFFFFF;
    line-height:18px;
}

/* .am-carousel {
    position: relative;
  }
  .am-carousel-wrap {
    font-size: 18px;
    color: #000;
    background: none;
    text-align: center;
    zoom: 1;
    width: 100%;
  }
  .am-carousel-wrap-dot {
    display: inline-block;
    zoom: 1;
  }
  .am-carousel-wrap-dot > span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 3px;
    border-radius: 50%;
    background: #ccc;
  }
  .am-carousel-wrap-dot-active > span {
    background: #888;
  }
   */