.page-team-search {

}

.page-team-search .search-bar-container {
  height: 44px;
  padding: 6px 15px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.page-team-search .search-bar-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #333333;
}

.page-team-search .search-bar-container .component-search-bar {
  margin-left: 0;
}

.page-team-search .project-list .component-projects{
  padding-top: 10px;
}
