.page-teams-item-container{
  width: 100%;
  height:100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.page-teams-item-logo-container{
  background-image: url(/images/my/banner.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.page-teams-item-logo{
  width: 60px;
  height: 60px;
}
.page-teams-item-main{
  width: 260px;
  height: 60px;
  display: flex;
  flex-direction: column;
}
.page-teams-item-main-top{
  height: 20px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}
.page-teams-item-main-top-fonts{
  font-size: 18px;
  color: #333333;
}
.page-teams-item-main-top-state{
  width: 50px;
  height: 20px;
  background: #FED9A4;
  border-radius: 4px;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
}
.page-teams-item-main-top-state-hidden{
  visibility: hidden;
}
.page-teams-item-main-bottom{
  height: 24px;
  display: flex;
}
.page-teams-item-main-bottom-time{
  width: 115px;
  display: flex;
  font-size: 13px;
  color: #666;
  margin-right: 15px;
}
.page-teams-item-main-bottom-time img{
  width: 24px;
  height: 24px;
  margin-right:5px;
}
.page-teams-item-main-bottom-time p{
  line-height: 24px;
}
